body::after {
	content: "";
	background-color: rgba(51, 51, 51, 0.83);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;

}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(189, 180, 180, 0.2);
	// border-radius: 6px;
	.lock & {
		visibility: visible;
	}

}

#popup-filters {
	@media (min-width:em(1240)){
		display: none;
	}
	@media (max-width: em(380)){
		padding: 0;
	}
}
//=======================================================================================================
// .popup {
// 	.popup__content
// 	&__content {
// 	}

// }

.popup-filters {
	border-radius: 10px;
	width: 100%;
	background: #F5F7FA;
	@media (max-width: em(1240)){
		display: block;
		max-width: 100%;
	}
	// .popup-filters__wrapper
	&__wrapper {
		width: 100%;
		height: 100%;
		display: flex;
    flex-direction: column;
		gap: 24px;
		@media (max-width:$mobile){
			row-gap: 10px;
		}
	}
	// .popup-filters__top
	&__top {
		padding: 25px 40px 25px 40px;
		width: 100%;
		@media (max-width: em(460)){
			padding-bottom: 15px;
		}
		@media (max-width: em(380)){
			padding-right: 20px;
			padding-left: 20px;
		}
		@media (max-width: em(325)){
			padding-top: 45px;
		}
	}
	// .popup-filters__title
	&__title {
		@extend %raleway-600;
		font-size: rem(40);
		line-height: math.div(56 , 40);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		@media (max-width: em(1180)){
			font-size: rem(28);
			line-height: math.div(36 , 28);
		}
		@media (max-width: em(768)){
			font-size: rem(20) !important;
		}
		@media (max-width: em(380)){
			text-align: left;
		}
	}

	// .popup-filters__close
	&__close {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		position: absolute;
		top: 20px;
    right: 40px;
		background-color: #FFF;
		outline: none;
		cursor: pointer;
		&::before,
		&::after {
			content:'';
			top: 18px;
			right: 22px;
			position: absolute;
			background-color: #13465B;
			width: 2px;
			height: 13px;
			@media (max-width: em(1180)){
				top: 14px;
				right: 19px;
			}
		}
		&::after{
			transform: rotate(45deg);
		}
		&::before{
			transform: rotate(-45deg);
		}
		@media (max-width: em(1180)){
			width: 40px;
			height: 40px;
			top: 20px;
			right: 20px;
		}
	}
	// .popup-filters__body
	&__body {
		padding: 0 40px 40px 40px;
		width: 100%;
		@media (max-width: em(380)){
			padding: 0 20px 20px 20px;
		}

		.filter {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 40px;
			row-gap: 40px;
			.filter__actions-btn {
				font-size: rem(16);
				padding: 8px 80px;
				@media (max-width: em(1240)){
					padding: 12px 40px;
				}
				@media (max-width: em(768)){
					padding: 8px 40px;
					font-size: rem(14);
				}
			}
			@media (max-width: em(560)){
				grid-template-columns: 1fr;
			}
		}

		.filter__item {
			margin-bottom: 0;
		}

		.filter-price {
			grid-column: span 2;
			@media (max-width: em(560)){
				grid-column: auto;
			}
		}

		.filter__actions {
			grid-column: span 2;
			display: flex;
			justify-content: center;
			@media (max-width: em(560)){
				grid-column: auto;
			}
			@media (max-width: em(380)){
				display: block;
			}
		}

		.filter__actions-btn {
			font-size: rem(16);
			@media (max-width: em(380)){
				width: 100%;
			}
		}
	}


}

//========================================================================================================================================================
