body::after {
	content: "";
	background-color: rgba(51, 51, 51, 0.83);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(189, 180, 180, 0.2);
	border-radius: 6px;
	.lock & {
		visibility: visible;
	}
}

//=======================================================================================================
.popup {
	// .popup__content
	&__content {
	}
	// .popup__close

}
.form {
	// &__error {
	// 	padding: 5px 15px;
	// 	color: #FB4747;
	// }
}
.popup-content {
	max-width: 976px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	border-radius: 46px;
	background: #FFF;
	@media (max-width: em(1180)){
		max-width: 460px;
	}
	// .popup-content__wrapper
	&__wrapper {
		display: grid;
		gap: 24px;
	}
	// .popup-content__top
	&__top {
		padding: 0 40px;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 25px;
		@media (max-width: em(1180)){
			padding-top: 70px;
		}
	}
	// .popup-content__title
	&__title {

		@extend %raleway-600;
		font-size: rem(40);
		line-height: math.div(56 , 40);
		text-align: center;
		text-transform: uppercase;
		color: #000000;
		@media (max-width: em(1180)){
			font-size: rem(28);
			line-height: math.div(36 , 28);
		}
		@media (max-width: em(768)){
			font-size: rem(20);
		}
	}

	// .popup-content__close
	&__close {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		position: absolute;
		top: 30px;
    right: 40px;
		background-color: #F5F7FA;
		outline: none;
		cursor: pointer;
		&::before,
		&::after {
			content:'';
			top: 18px;
			right: 22px;
			position: absolute;
			background-color: #13465B;
			width: 2px;
			height: 13px;
			@media (max-width: em(1180)){
				top: 14px;
				right: 19px;
			}
		}
		&::after{
			transform: rotate(45deg);
		}
		&::before{
			transform: rotate(-45deg);
		}
		@media (max-width: em(1180)){
			width: 40px;
			height: 40px;
			top: 20px;
			right: 20px;
		}
	}
	// .popup-content__body
	&__body {
		padding: 0 40px 40px 40px;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		@media (max-width: em(1180)){
			display: flex;
			flex-direction: column;
			row-gap: 10px;

		}
	}
	//.popup-content__bg
	&__bg {
		@media (max-width: em(1180)){
			max-height: 300px;
		}
	}

	//.popup-content__img-ibg
	&__img-ibg {
		padding-bottom: percent(396, 471);
		object-fit: cover;
		img {
			object-position: center;
			@media (max-width: em(1180)){
				height: 300px;
				object-position: top;
			}
		}
		@media (max-width: em(1180)){

		}
	}

	// .popup-content__form
	&__form {
		max-width: 360px;
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		@media (max-width: em(1180)){
			max-width: 500px;
		}
	}
	// .popup-content__item
	&__item {
		display: flex;
		flex-direction: column;
		font-size: rem(12);
		line-height: math.div(16 , 12);
		
	}
	// .popup-content__input
	&__input {
		@extend %mulish-500;
		font-size: rem(16);
		line-height: math.div(26 , 16);
		border-radius: 58px;
		background-color: #F5F7FA;
		padding: 18px 20px 18px 20px;
		color: #13465B;
		&._form-error {
			outline: 2px solid #f00;
		}
		&:focus {
			outline: 2px solid #FFC95E;
		}
		@media (max-width: em(480)){
			padding: 10px 20px;
		}
	}

	// .popup-content__btn
	&__btn {
		padding: 20px 40px;
		width: 100%;
		max-width: 360px;
		@extend %mulish-800;
    font-size: rem(14) !important;
    line-height: 120%;
    color: #263239;
		border-radius: 56px !important;
		@media (max-width: em(1180)){
			max-width: 100%;
			padding: 20px;
		}
		@media (max-width: em(480)){
			// padding: 10px 20px;
			font-size: rem(12) !important;
		}

	}

}
//.
.popup-form {
	//.popup-form__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		row-gap: 30px;
		@media (max-width: em(1180)){
			align-items: center;
		}
	}

	&__politics {
		@extend %mulish-500;
    max-width: 362px;
    text-align: center;
    @extend %mulish-500;
    font-size: rem(12);
    line-height: math.div(15 , 12);
		color: #ACACAC;
	}

}

//========================================================================================================================================================

//.popup-send
.popup-send {
	//.popup-send__top
	&__top {
		padding-top: 30px;
		padding-bottom: 0;
		padding-right: 40px;
		@media (max-width: em(1180)){
			padding-bottom: 30px;
		}
	}
	//.popup-send__wrapper
	&__wrapper {
		// max-width: 506px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		row-gap: 20px;
		@media (max-width: em(1180)){
			align-items: center;
		}
	}	
	//.popup-send__title
	&__title {
		max-width: 430px;
		@extend %raleway-600;
		font-size: rem(32);
		line-height: math.div(45 , 32);
		color: #000;
		@media (max-width: em(1180)){
			max-width: 100%;
			text-align: center;
		}
	}	
	//.popup-send__img-ibg
	&__img-ibg {
		padding-bottom: percent(361, 355);
		object-fit: cover;
		img {
			object-position: center;
		}
	}
	//.popup-send__info
	&__info {
		max-width: 506px;
	}
	//.popup-send__text
	&__text {
		@extend %mulish-500;
		font-size: rem(16);
		line-height: math.div(28 , 16);
		color: #13465B;
		@media (max-width: em(1180)){
			text-align: center;
		}
	}
	//.popup-send__btn
	&__btn {
		padding: 16px 40px;
    border-radius: 0px 35px 35px 35px;
    background: linear-gradient(137deg, #00AFE1 8.1%, #009BD3 94.96%);
    @media (max-width: em(1000)){
      padding: 10px 40px;
    }
    @media (max-width: em(760)){
      padding: 10px 60px;
    }
    @media (max-width: em(420)){
      padding: 10px 40px;
    }
	}
	//.popup-send__btn-link
	&__btn-link {
		display: flex;
    align-items: center;
    column-gap: 10px;
    img {
      width: 45px;
      height: 45px;
    }
    @media (max-width: em(420)){
      justify-content: center;
    }
	}
	//.popup-send__btn-text
	&__btn-text {
		@extend %mulish-800;
    font-size: rem(18);
    line-height: 120%;
    color: #FFF;
	}

}






// body::after {
// 	content: "";
// 	background-color: rgba(0, 0, 0, 0.5);
// 	position: fixed;
// 	width: 100%;
// 	height: 100%;
// 	top: 0;
// 	left: 0;
// 	opacity: 0;
// 	transition: opacity 0.8s ease 0s;
// 	pointer-events: none;
// 	z-index: 149;
// }
// .popup-show body::after {
// 	opacity: 1;
// }
// .popup {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	padding: 30px 10px;
// 	transition: visibility 0.8s ease 0s;
// 	visibility: hidden;
// 	pointer-events: none;
// }
// .popup_show {
// 	z-index: 150;
// 	visibility: visible;
// 	overflow: auto;
// 	pointer-events: auto;
// }
// .popup_show .popup__content {
// 	visibility: visible;
// 	transform: scale(1);
// }
// .popup__wrapper {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	min-height: 100%;
// 	flex: 1 1 auto;
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
// .popup__content {
// 	visibility: hidden;
// 	transform: scale(0);
// 	transition: transform 0.3s ease 0s;
// 	background-color: #eee;
// 	padding: 20px;
// 	width: 100%;
// 	max-width: 900px;
// 	border-radius: 20px;
// 	.lock & {
// 		visibility: visible;
// 	}
// }

