.breadcrumbs {
  // .breadcrumbs__container
  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  // .breadcrumbs__list
  &__list {
    display: flex;
    align-items: center;
  }
  // .breadcrumbs__item
  &__item {
    position: relative;
    @extend %mulish-600;
    font-size: rem(16);
    line-height: normal;
    padding-right: 36px;
    &::after{
      content:'';
      position: absolute;
      width: 2px;
      height: 7px;
      background-color: #1C274C;
      top: 5px;
      right: 18px;
      transform: rotate(-45deg);
      @media (max-width: em(420)){
        top: 3px;
        right: 10px;
        height: 5px; 
        width: 1px;     
      }
    }
    &::before{
      content:'';
      position: absolute;
      width: 2px;
      height: 7px;
      background-color: #1C274C;
      top: 9px;
      right: 18px;
      transform: rotate(45deg);
      @media (max-width: em(420)){
        top: 6px;
        right: 10px;
        height: 5px;
        width: 1px;
      } 
    }
    &:last-child{
      font-size: rem(16);
      line-height: normal;
      color: $yelow;
      &::after,
      &::before {
        display: none;
      }
      @media (max-width: em(420)){
        font-size: rem(12);
      }
    }
    @media (max-width: em(420)){
      font-size: rem(10);
      padding-right: 20px;
    }
  }
  // .breadcrumbs__link
  // &__link {

  // }
}
