//.info
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveValue("gap", 40, 30, 1380, 1180, 1);
  @media (max-width: em(1100)){
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("gap", 30, 20, 1100, 768, 1);
  }
  @media (max-width: em(670)){
    display: flex;
    flex-direction: column;
  }
}
//.info-item
.info-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  max-width: 367px;
  @media (max-width: em(1100)){
    max-width: 100%;
  }
  // .info-item__img-ibg
  &__img-ibg {
    border-radius: 32px;
    overflow: hidden;
    padding-bottom: percent(283,367);
    img {
      border-radius: 32px;
    }
  }
  //info-item__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  // .info-item__title
  &__title {
    @extend %raleway-600;
    font-size: rem(20);
    line-height: 120%;
    color: #000;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        color: #FFC95E;
      }
    }
  }
  //.info-item__link
  &__link {
    cursor: pointer;
  }
  // .info-item__text
  &__text {
    height: 67px;
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #000;
    overflow: hidden;
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-line-clamp: 3; /* Число отображаемых строк */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
  }
  // .info-item__box
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
  }
  // .info-item__date
  &__date {
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #13465B;
  }
  // .info-item__btn
  &__btn {
  }
  // .info-item__btn-link
  &__btn-link {
    padding: 4px 48px;
    border-radius: 16px;
    background: #FFC95E;
    @extend %mulish-700;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #FFF;
  }
}