.realty {
  // .realty__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // gap: 40px;
    @include adaptiveValue("gap", 40, 30, 1380, 1180, 1);
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(570)){
      display: flex;
      flex-direction: column;
    }
  }
  // .realty__item
  &__item {
    display: grid;
    gap: 15px;
    max-width: 367px;
    @media (max-width: em(1180)){
      max-width: 100%;
    }
  }
  // .realty__img-ibg
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(283, 367);
    img {
      object-position: top;
      @media (max-width: em(768)){
        object-position: center;
      }
    }
  }
  // .realty__item-box
  &__item-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr auto;
    row-gap: 15px;
  
  }
  // .realty__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(24);
    line-height: 120%;
    color: #000;
    grid-column: 1 / 2;
    @media (max-width: em(760)){
      grid-column: span 2;
    }
  }
  //.realty__item-name
  &__item-name {

  }
  // .realty__price
  &__price {
    display: flex;
    align-items: center;
    justify-self: end;
    column-gap: 10px;
    background-color: #FFC95E;
    padding: 2px 8px;
    border-radius: 16px;
    grid-column: 2 / 3;
    @media (max-width: em(760)){
      grid-row: 6;
      // grid-column: 1 / 2;
      grid-column: span 2;
      justify-self: start;
    }
  }
  // .realty__price-icon
  &__price-icon {
  }
  // .realty__price-info
  &__price-info {
    @extend %mulish-700;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #FFF;
  }
  // .realty__price-text
  &__price-text {

  }
  // .realty__deadline-info
  &__deadline-info {
    grid-row: span 2;
    grid-column: 1 / 3;
  }
  // .realty__deadline-text
  &__deadline-text {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: 120%;
    color: #000;
    @media (max-width: em(768)){
      font-size: rem(12);
    }
    @media (max-width: em(520)){
      font-size: rem(10);
    }
  }
}
.realty-info {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // column-gap: 55px;
  // row-gap: 15px;

  // .realty-info__type
  &__type {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #13465B;
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-column: 1 / 2;
  }
  // .realty-info__type-icon
  &__type-icon {
  }
  // .realty-info__type-info
  &__type-info {
  }
  // .realty-info__type-text
  &__type-text {
  }
  // .realty-info__area
  &__area {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #13465B;
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-column: 2 / 3;
  }
  // .realty-info__area-icon
  &__area-icon {
  }
  // .realty-info__area-info
  &__area-info {
  }
  // .realty-info__area-text
  &__area-text {
  }
  // .realty-info__builder
  &__builder {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #13465B;
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-column: 1 / 2;
  }
  // .realty-info__builder-icon
  &__builder-icon {
  }
  // .realty-info__builder-info
  &__builder-info {
  }
  // .realty-info__builder-text
  &__builder-text {
  }
  // .realty-info__location
  &__location {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: #13465B;
    display: flex;
    align-items: center;
    column-gap: 10px;
    grid-column: 2 / 3;
  }
  // .realty-info__location-icon
  &__location-icon {
  }
  // .realty-info__location-info
  &__location-info {
  }
  // .realty-info__location-text
  &__location-text {
  }

  @media (max-width: em(1180)){
    column-gap: 10px;
  }
}
