.telegram {
  // .telegram__container
  &__container {
    
  }
  // .telegram__inner
  &__inner {
    padding-top: 50px;
    padding-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    @include adaptiveValue("column-gap", 40, 70, 1380, 1000, 1);
    @media (max-width: em(960)){
      column-gap: 10px;
    }
    @media (max-width: em(640)){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      .telegram__item {
        &:nth-child(2) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          row-gap: 16px;
        }
      }
    }
    
  }
  // .telegram__item
  &__item {
    &:last-child{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 30px;

    }
    @media (max-width: em(640)){
      
    }
  }
  // .telegram__bg
  &__bg-ibg {
    
    overflow: hidden;
    padding-bottom: percent(580, 571);
    img {
      object-position: center;
      // width: 571px;
      // height: 580px;
    }
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    @media (max-width: em(1000)){
      padding-bottom: percent(425, 418);
    }
    @media (max-width: em(640)){
      padding-bottom: percent(314, 309);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
  }
  // .telegram__title-box
  &__title-box {
    h3 {
      @extend %raleway-600;
      font-size: rem(56);
      line-height: math.div(78 , 56);
      text-transform: uppercase;
      color: $black;
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 56, 40, 1380, 1000, 1);
        @include adaptiveValue("line-height", 78, 56, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 40, 36, 1000, 768, 1);
        @include adaptiveValue("line-height", 56, 50, 1000, 768, 1);
        font-size: rem(40);
      }
      @media (max-width: em(768)){
        @include adaptiveValue("font-size", 36, 32, 768, 690, 1);
        @include adaptiveValue("line-height", 50, 38, 768, 690, 1);
        font-size: rem(40);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 32, 24, 690, 480, 1);
        @include adaptiveValue("line-height", 38, 33, 690, 480, 1);
      }
    }
    span {
      @extend %raleway-400;
      font-size: rem(32);
      line-height: math.div(45 , 32);
      text-transform: uppercase;
      color: $black;
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 32, 24, 1380, 1000, 1);
        @include adaptiveValue("line-height", 45, 33, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 24, 20, 1000, 690, 1);
        @include adaptiveValue("line-height", 33, 28, 1000, 690, 1);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 20, 16, 690, 480, 1);
      }
    }
    @media (max-width: em(640)){
      order: -1;
    }
  }
  // .telegram__subtitle
  &__subtitle {
    @extend %mulish-500;
    // font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
    @include adaptiveValue("font-size", 18, 16, 1360, 1000, 1);
    @media (max-width: em(768)){
      max-width: 280px;
    }
    @media (max-width: em(640)){
      max-width: 100%;
    }
  }
  // .telegram__btn
  &__btn {
    padding: 16px 40px;
    border-radius: 0px 35px 35px 35px;
    background: linear-gradient(137deg, #00AFE1 8.1%, #009BD3 94.96%);
    @media (max-width: em(1000)){
      padding: 10px 40px;
    }
    @media (max-width: em(640)){
      padding: 10px 60px;
    }
  }
  // .telegram__btn-link
  &__btn-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    img {
      width: 45px;
      height: 45px;
    }
  }
  // .telegram__btn-text
  &__btn-text {
    @extend %mulish-800;
    font-size: rem(18);
    line-height: 120%;
    color: $white;
  }
}
.telegram-container {
  // .telegram-container__fluid
  &__fluid {
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 80px;
    background-color: $white;
    @media (max-width: em(1000)){
      border-radius: 40px;
    }
  }
}