//.area
//========================================================================================================================================================
.area {
  // .area__container
  &__container {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  // .area__title
  &__title {
    h3 {
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 56, 40, 1380, 1000, 1);
        @include adaptiveValue("line-height", 78, 56, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 40, 36, 1000, 768, 1);
        @include adaptiveValue("line-height", 56, 50, 1000, 768, 1);
        font-size: rem(40);
      }
      @media (max-width: em(768)){
        @include adaptiveValue("font-size", 36, 32, 768, 690, 1);
        @include adaptiveValue("line-height", 50, 38, 768, 690, 1);
        font-size: rem(40);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 32, 24, 690, 480, 1);
        @include adaptiveValue("line-height", 38, 33, 690, 480, 1);
      }
    }
  }
  // .area__inner
  &__inner {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include adaptiveValue("gap", 40, 20, 1000, 860, 1);
  }
  // .area__item
  &__item {
    position: relative;
    max-width: 570px;
    min-height: 492px;
    padding-bottom: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-items: center;
    grid-template-rows: 1.4fr 1fr;
    border-radius: 55px;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0.00) 26.66%, rgba(7, 36, 48, 0.60) 74.73%);
      border-radius: 30px;
      border-radius: 55px;
    }
    @media (max-width: em(860)){
      min-height: 380px;
    }
    @media (max-width: em(640)){
      // max-width: 319px;
      // min-height: 255px;
    } 
  } 
  // .area__item-text
  &__item-text {
    max-width: 335px;
    display: grid;
    align-items: end;
    text-align: center;
    @extend %raleway-600;
    font-size: rem(40);
    line-height: math.div(56 , 40);
    color: $white;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    @media (max-width: em(860)){
      font-size: rem(24);
      line-height: math.div(34 , 24);
    }
  }
  // .area__item-action
  &__item-action {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;

  }
  // .area__item-link
  &__item-link {
    display: inline-flex;
    padding: 10px 80px;
    border-radius: 22px;
    background: linear-gradient(100deg, #FFC95E -41.54%, #FFC95E -22.64%, #FD9 -9.16%, #FFC95E 1.25%);
    box-shadow: 0px 4px 4px 0px rgba(255, 204, 102, 0.30), 6px 2px 18px 0px #FFE4AE inset;
    color: #263239;
    @extend %mulish-800;
    font-size: rem(14);
    line-height: 120%;
    @media (max-width: em(860)){
      padding: 10px 40px;
    }
  }
}

//========================================================================================================================================================

