//.contacts
//========================================================================================================================================================
.contacts {
  // .contacts__container
  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  // .contacts__inner
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    @include adaptiveValue("column-gap", 256, 100, 1380, 1000, 1);
    @media (max-width: em(1000)){
      display: flex;
      flex-direction: column;
      row-gap: 40px;
    }
  }
  // .contacts__item
  &__item {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    &:last-child{
      max-width: 468px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      @media (max-width: em(1000)){
        max-width: 100%;
      }
    }
  }
}

.contacts-item {
  // .contacts-item__title
  &__title {
    @extend %raleway-500;
    font-size: rem(56);
    line-height: math.div(67 , 56);
    color: $black;
    h3 {
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 56, 40, 1380, 1000, 1);
        @include adaptiveValue("line-height", 78, 56, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 40, 36, 1000, 768, 1);
        @include adaptiveValue("line-height", 56, 50, 1000, 768, 1);
        font-size: rem(40);
      }
      @media (max-width: em(768)){
        @include adaptiveValue("font-size", 36, 32, 768, 690, 1);
        @include adaptiveValue("line-height", 50, 38, 768, 690, 1);
        font-size: rem(40);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 32, 24, 690, 480, 1);
        @include adaptiveValue("line-height", 38, 33, 690, 480, 1);
      }
    }
  }
  // .contacts-item__info
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: 120%;
  }
  // .contacts-item__phone
  &__phone {
    padding: 2px 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
    @media (max-width: em(420)){
      flex-direction: column;
      align-items: flex-start;
      row-gap: 20px;
    }
  }
  // .contacts-item__phone-item
  &__phone-item {
    display: flex;
    column-gap: 7px;
    align-items: center;
  }
  // .contacts-item__email
  &__email {
    padding: 2px 0;
  }
  // .contacts-item__email-item
  &__email-item {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  // .contacts-item__adress
  &__adress {
    display: flex;
    align-items: center;
    column-gap: 7px;
    address {
      font-style: normal;
    }
  }
  // .contacts-item__times
  &__times {
    display: flex;
    align-items: center;
    column-gap: 7px;
  }
  // .contacts-item__social-list
  &__social-list {
    padding: 6px 0;
    display: flex;
    column-gap: 20px;
  }
  // .contacts-item__social-link
  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 30px;
      height: 30px;
    }
  }
  // .contacts-item__form-wrapper
  &__form-wrapper {
    @media (max-width: em(1000)){
      padding: 30px 20px 30px;
      border-radius: 46px;
      background-color: $white;
      max-width: 560px;
      width: 100%;
      align-self: center;
    }
  }
  // .contacts-item__form-title
  &__form-title {
    @extend %raleway-500;
    font-size: rem(40);
    line-height: math.div(48 , 40);
    color: $black;
    h3 {
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 40, 40, 1380, 1000, 1);
        @include adaptiveValue("line-height", 48, 48, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 40, 36, 1000, 768, 1);
        @include adaptiveValue("line-height", 56, 50, 1000, 768, 1);
        font-size: rem(40);
      }
      @media (max-width: em(768)){
        @include adaptiveValue("font-size", 36, 32, 768, 690, 1);
        @include adaptiveValue("line-height", 50, 38, 768, 690, 1);
        font-size: rem(40);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 32, 24, 690, 480, 1);
        @include adaptiveValue("line-height", 38, 33, 690, 480, 1);
      }
    }
  }
}
.contacts-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // .contacts-form__item-wrapper
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .contacts-form__item
  &__item {
    display: flex;
    align-items: center;
  }
  // .contacts-form__input
  &__input {
    width: 100%;
    padding: 18px 87px 18px 20px;
    border-radius: 58px;
    background-color: $white;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $text;
    @media (max-width: em(1000)){
      background-color: $grey;
    }
  }
  // .contacts-form__message
  &__message {
    width: 100%;
    min-height: 147px;
    resize: none;
    padding: 15px 90px 10px 20px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $text;
    border-radius: 30px;
    background-color: $white;
    &:focus {
      outline: 2px solid $yelow;
    }
    &._form-error {
      outline: 2px solid #f00;
    }
    @media (max-width: em(1000)){
      background-color: $grey;
    }
  }
  // .contacts-form__action
  &__action {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .contacts-form__btn
  &__btn {
    padding: 10px 40px;
    border-radius: 56px;
    @extend %mulish-800;
    font-size: rem(16);
    line-height: 120%;
    color: #263239;
    @media (max-width: em(360)){
      padding: 10px 20px;
    }
  }
  // .contacts-form__politics
  &__politics {
    margin: 0 auto;
    max-width: 362px;
    text-align: center;
    @extend %mulish-500;
    font-size: rem(12);
    line-height: math.div(15 , 12);
  }
}

//.contacts-form__input_form-error
.contacts-form__input._form-error {
  outline: 2px solid #f00;
}
//.contacts-form__input:focus
.contacts-form__input:focus {
  outline: 2px solid $yelow;
}


//========================================================================================================================================================
