
//========================================================================================================================================================
.estate {
  // .estate__container
  &__container {
    padding-bottom: 50px;
    @media (max-width: em(768)){
      padding-bottom: 30px;
    }
  }
  // .estate__inner
  &__inner {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  // .estate__bg
  &__bg {
      padding: 60px;
      position: relative;
      min-height: 422px;
      border-radius: 55px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 25px;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0.00) 26.66%, rgba(7, 36, 48, 0.60) 74.73%);
      border-radius: 30px;
      border-radius: 55px;
      @media (max-width: em(768)){
        border-radius: 40px;
      }
    }
    @media (max-width: em(768)){
      border-radius: 40px;
    }
  }
  // .estate__title-box
  &__title-box {
    z-index: 1;
  }
  // .estate__title
  &__title {
    @extend %raleway-500;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: $white;
    @include adaptiveValue("font-size", 50, 32, 1380, 380, 1);
    @include adaptiveValue("line-height", 60, 38, 1380, 380, 1);
    @media (max-width: em(380)){
      font-size: rem(28);
    }
  }
  // .estate__subtitle
  &__subtitle {
    padding-top: 4px;
    max-width: 794px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(22 , 18);
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  //.estate__actions
  &__actions {
    display: flex;
    column-gap: 15px;
    z-index: 1;
    .estate__actions-link {
      &:last-child{
        background-color: #fff;
      }
    }
  }
  
  //.estate__actions-link
  &__actions-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;
    padding: 14px 40px;
    @extend %mulish-800;
    font-size: rem(16);
    @media (any-hover: hover){
      &:hover{
        cursor: pointer;
      }
    }
  }

  // .estate__items
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
  }
  // .estate__item
  &__item {
    padding: 10px 15px;
    border-left: 1px solid #13465B;
  }
  //.estate__item-value
  &__item-value {
    @extend %mulish-700;
    font-size: rem(32);
    line-height: math.div(52 , 32);
    color: $black;
  }
  //.estate__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(23 , 14);
    color: $text;
  }

}
//========================================================================================================================================================

// .about
//========================================================================================================================================================
.about {
  // .about__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .about__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 40px;
  }
  // .about__item
  &__item {
    &:last-child{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .about__img
  &__img-ibg {
    overflow: hidden;
    padding-bottom: percent(439, 448);
    img {
      object-position: center;
    }
  }
  // .about__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  // .about__item-content
  &__item-content {

  }
  // .about__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $black;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .about__item-action
  &__item-action {
  }
  // .about__item-link
  &__item-link {
    @extend %mulish-700;
    font-size: rem(18);
    line-height: math.div(28 , 18);
    color: $black;
    text-decoration: underline !important;
  }
}
//========================================================================================================================================================

//.feature 
//========================================================================================================================================================
.feature {
  // .feature__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .feature__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  //.feature__title
  &__title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
  }
  // .feature__item
  &__item {
    padding: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: $white;

  }
  // .feature__item-img
  &__item-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: $yelow;
    img {
      width: 20px;
      height: 20px;
    }
  }
  // .feature__item-info
  &__item-info {
    @extend %raleway-400;
    font-size: rem(16);
    line-height: math.div(22 , 16);
    text-transform: uppercase;
  }
  // .feature__item-text
  &__item-text {
  }
}

//========================================================================================================================================================

//.exterior
//========================================================================================================================================================
.exterior {
  // .exterior__container
  &__container {
  }
  // .exterior__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .exterior__title
  &__title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  //.exterior__slider-box
  &__slider-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  //.exterior__slider-nav
  &__slider-nav {
    height: 50px;
  }
  // .exterior__wrapper
  &__wrapper {

  }
  // .exterior__slider
  &__slider {
    position: relative;
  }
  // .exterior__slide
  &__slide {
    overflow: hidden;
    border-radius: 55px;
    height: 600px;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

  }
  // .exterior__nav
  &__nav {
    // margin-top: 30px;
  }
  // .exterior__thumbs-slide
  &__nav-slide {
    // padding: 0px 20px;
    border-radius: 32px;
    overflow: hidden;
    height: 180px;
    img {
      // display: block;
      max-width: 100%;
      height: 180px;
      object-fit: cover;
    }
  }
}

.exterior__slider  {
  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    border-radius: 50%;
    position: absolute;
    top: 50%; // выравнивание по вертикали
    transform: translateY(-50%);
    margin: -15px 0 0 0; // корректировка вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
  .slick-prev.slick-arrow {
    left: 54px;
    background-image: url(../img/estate/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 11px 19px;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $yelow;
      }
    }
  }
  .slick-next.slick-arrow {
    right: 54px;
    background-image: url(../img/estate/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 11px 19px;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $yelow;
      }
    }
  }

}

// .exterior-button-prev, 
// .exterior-button-next {
//   position: absolute;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: $yelow;
//   z-index: 10;
// }

// .exterior-button-prev {
//   top: 0;
//   left: 0;
// }

// .exterior-button-next {
//   top: 0;
//   right: 0;
// }

// .exterior-button-prev.swiper-button-disabled {
//   background-color: #fff;
// } 

// .exterior-button-next.swiper-button-disabled {
//   background-color: #fff;
// } 


// .exterior__nav .swiper-wrapper {
//   // transform: none !important;
  
// }


//========================================================================================================================================================


.transport {
  // .transport__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: em(768)){
      padding-top: 30px;
    }
  }
  // .transport__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: em(768)){
      row-gap: 40px;
    }
  }
  // .transport__title
  &__title {
    h3 {
      @extend %raleway-500;
      font-size: rem(48);
      line-height: math.div(58 , 48);
      color: $black;
      @include adaptiveValue("font-size", 48, 24, 1380, 380, 1);
      @include adaptiveValue("line-height", 58, 29, 1380, 380, 1);
      @media (max-width: em(380)){
        font-size: rem(20);
      }
    }
  }
  // .transport__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 40px;
    @media (max-width: em(1240)){
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
    }
    @media (max-width: em(1000)){
      row-gap: 30px;
      column-gap: 30px;
    }
    @media (max-width: em(620)){
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
    }
  }
  // .transport__item
  &__item {
    max-width: 367px;
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    background-color: $white;
    display: flex;
    align-items: center;
    column-gap: 10px;
    @media (max-width: em(1240)){
      max-width: 507px;
      // justify-self: center;
    }
    @media (max-width: em(680)){
      padding: 10px;
    }
    @media (max-width: em(620)){
      max-width: 480px;
    }
    &:nth-child(2){
      .transport__item-img {
        img {
          width: 22px;
          height: 48px;
          @media (max-width: em(680)){
            width: 16px;
            height: 36px;
          }
        }
      }
    }
    &:nth-child(3){
      .transport__item-img {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }
    &:nth-child(4){
      .transport__item-img {
        img {
          width: 40px;
          height: 33px;
          @media (max-width: em(680)){
            width: 30px;
            height: 26px;
          }
        }
      }
    }
    &:nth-child(5){
      .transport__item-img {
        img {
          width: 30px;
          height: 35px;
        }
      }
    }
  }
  // .transport__item-img
  &__item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $yelow;
    filter: drop-shadow(-1px -1px 12px rgba(0, 0, 0, 0.05)) drop-shadow(1px 1px 12px rgba(0, 0, 0, 0.05));
    img {
      width: 30px;
      height: 30px;
      @media (max-width: em(680)){
        width: 22px;
        height: 22px;
      }
    }
    @media (max-width: em(680)){
      width: 48px;
      height: 48px;
    } 
  }
  // .transport__item-info
  &__item-info {
    color: $black;
    span {
      @extend %raleway-400;
      font-size: rem(16);
      line-height: math.div(22 , 16);
      text-transform: uppercase;
      font-variant-numeric: lining-nums proportional-nums;
      @include adaptiveValue("font-size", 16, 14, 1380, 380, 1);
      @include adaptiveValue("line-height", 22, 20, 1380, 380, 1);
    }
  }
  // .transport__item-title
  &__item-title {
    @extend %raleway-600;
    // font-size: rem(24);
    // line-height: math.div(34 , 24);
    text-transform: uppercase;
    @include adaptiveValue("font-size", 24, 18, 1380, 768, 1);
    @include adaptiveValue("line-height", 34, 28, 1380, 768, 1);
    @media (max-width: em(660)){
      font-size: rem(16);
      line-height: math.div(20 , 16);
    }
  }
}
//========================================================================================================================================================

.location-realty {
  // .location-realty__container
  &__container {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  // .location-realty__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: em(768)){
      row-gap: 40px;
    }
  }
  // .location-realty__title
  &__title {
    h3 {
      @extend %raleway-500;
      // font-size: rem(48);
      // line-height: math.div(58 , 48);
      color: $black;
      @include adaptiveValue("font-size", 48, 24, 1380, 380, 1);
      @include adaptiveValue("line-height", 58, 29, 1380, 380, 1);
      @media (max-width: em(380)){
        font-size: rem(20);
      }
    }
  }
}


// .realty -----> check the file common.scss