//.estate
//========================================================================================================================================================
.estate {
  // .estate__container
  &__container {
    padding-bottom: 50px;
    @media (max-width: em(1080)){
      padding-bottom: 35px;
    }
  }
  // .estate__inner
  &__inner {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  // .estate__bg
  &__bg {
      padding: 60px;
      position: relative;
      min-height: 422px;
      border-radius: 55px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 25px;
      justify-content: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0.00) 26.66%, rgba(7, 36, 48, 0.60) 74.73%);
      border-radius: 30px;
      border-radius: 55px;
      @media (max-width: em(768)){
        border-radius: 32px;
      }
    }
    @media (max-width: em(980)){
      padding: 40px;
    }
    @media (max-width: em(768)){
      border-radius: 32px;
    }
    @media (max-width: em(680)){
      align-items: center;
    }
    @media (max-width: em(480)){
      padding: 20px;
      justify-content: flex-end;
    
    }
  }
  // .estate__title-box
  &__title-box {
    z-index: 1;
    @media (max-width: em(680)){
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  // .estate__title
  &__title {
    @extend %raleway-500;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    color: $white;
    @include adaptiveValue("font-size", 50, 32, 1380, 380, 1);
    @include adaptiveValue("line-height", 60, 38, 1380, 380, 1);
    @media (max-width: em(380)){
      font-size: rem(28);
    }
  }
  // .estate__subtitle
  &__subtitle {
    padding-top: 5px;
    max-width: 794px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(22 , 18);
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
    @media (max-width: em(680)){
      text-align: center;
    }
    @media (max-width: em(480)){
      font-size: rem(14);
      line-height: math.div(18 , 14);
    }
  }
  //.estate__actions
  &__actions {
    display: flex;
    column-gap: 15px;
    z-index: 1;
    .estate__actions-link {
      &:last-child{
        border: 1px solid #FFF;
        background-color: #fff;
      }
    }
    @media (max-width: em(640)){
      flex-direction: column;
      row-gap: 20px;
    }
    @media (max-width: em(480)){
      // display: block;
      display: grid;
      width: 100%;
      row-gap: 10px;
    }
  }
  
  //.estate__actions-link
  &__actions-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 56px;
    padding: 14px 40px;
    @extend %mulish-800;
    font-size: rem(16);
    @media (any-hover: hover){
      &:hover{
        cursor: pointer;
      }
    }
    @media (max-width: em(480)){
      width: 100%;
      padding: 14px 20px;
      
    }
  }

  // .estate__items
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // column-gap: 40px;
    @include adaptiveValue("column-gap", 40, 10, 1260, 1080, 1);
    @media (max-width: em(1060)){
      display: flex;
      column-gap: 10px;
      row-gap: 20px;
      flex-wrap: wrap;
    }
    @media (max-width: em(460)){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 20px;
    }
  }
  // .estate__item
  &__item {
    max-width: 204px;
    width: 100%;
    display: grid;
    row-gap: 10px;
    padding: 10px 15px;
    border-left: 1px solid #13465B;
    @media (max-width: em(1060)){
      padding-left: 10px;
      padding-right: 0;
    }
  }
  //.estate__item-value
  &__item-value {
    @extend %mulish-700;
    font-size: rem(32);
    line-height: math.div(52 , 32);
    color: $black;
    @include adaptiveValue("font-size", 32, 24, 1380, 380, 1);
  }
  //.estate__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(23 , 14);
    color: $text;
    @media (max-width: em(480)){
      font-size: rem(12);
      line-height: math.div(20 , 12);
    }
  }

}
//========================================================================================================================================================

// .about
//========================================================================================================================================================
.about {
  // .about__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: em(1380)){
      padding-bottom: 30px;
    }
    @media (max-width: em(1080)){
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  // .about__inner
  &__inner {
    display: grid;
    // grid-template-columns: repeat(2,1fr);
    grid-template-columns: 1fr 1.5fr;
    // column-gap: 40px;
    @include adaptiveValue("column-gap", 40, 20, 1380, 1080, 1);
    @media (max-width:$tablet){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    @media (max-width:$mobile){
      row-gap: 20px;
    }
  }
  // .about__item
  &__item {
    &:last-child{
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      @media (max-width:$mobile){
        row-gap: 10px;
      }
    }
  }
  // .about__img
  &__img-ibg {
    border-radius: 55px;
    overflow: hidden;
    padding-bottom: percent(439, 448);
    img {
      object-position: center;
    }
    @media (max-width: em(1080)){
      padding-bottom: percent(540,448);
    }
    @media (max-width:$tablet){
      height: 490px;
      padding-bottom: 0;
    }
    @media (max-width:$mobile){
      // height: auto;
      // padding-bottom: percent(380, 448);
    }
    @media (max-width:$mobileSmall){
      height: 440px;
    }
  }
  // .about__item-title
  &__item-title {
    @extend %raleway-600;
    // font-size: rem(32);
    // line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
    @include adaptiveValue("font-size", 32, 24, 1380, 380, 1);
    @include adaptiveValue("line-height", 45, 34, 1380, 380, 1);
  }
  // .about__item-content
  &__item-content {

  }
  // .about__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $black;
    &:not(:last-child) {
      margin-bottom: 20px;
      @media (max-width:$mobile){
        margin-bottom: 15px;
      }
    }
    @include adaptiveValue("font-size", 18, 14, 1380, 380, 1);
  }
  // .about__item-action
  &__item-action {
  }
  // .about__item-link
  &__item-link {
    @extend %mulish-700;
    font-size: rem(18);
    line-height: math.div(28 , 18);
    color: $black;
    text-decoration: underline !important;
    @media (max-width:$mobile){
      font-size: rem(16);
      line-height: math.div(26 , 16);
    }
  }
}
//========================================================================================================================================================

//.feature 
//========================================================================================================================================================
.feature {
  // .feature__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: em(1380)){
      padding-bottom: 30px;
    }
    @media (max-width: em(1080)){
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }
  // .feature__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  //.feature__title
  &__title {
    @extend %raleway-600;
    // font-size: rem(32);
    // line-height: math.div(45 , 32);
    @include adaptiveValue("font-size", 32, 24, 1380, 380, 1);
    @include adaptiveValue("line-height", 45, 34, 1380, 380, 1);
    color: $black;
    text-transform: uppercase;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 20px;
    @media (max-width: em(1180)){
      column-gap: 20px;
    }
    @media (max-width: em(1080)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width:$mobile){
      display: flex;
      flex-direction: column;
      row-gap: 15px;
    }
  }
  // .feature__item
  &__item {
    padding: 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: $white;
    @media (max-width:$mobileSmall){
      padding: 10px;
    }
  }
  // .feature__item-img
  &__item-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: $yelow;
    img {
      width: 20px;
      height: 20px;
    }
  }
  // .feature__item-info
  &__item-info {
    @extend %raleway-400;
    font-size: rem(16);
    line-height: math.div(22 , 16);
    text-transform: uppercase;
    @media (max-width:$mobileSmall){
      font-size: rem(14);
      line-height: math.div(20 , 14);
    }
  }
  // .feature__item-text
  &__item-text {
  }
}
//========================================================================================================================================================

//.exterior
//========================================================================================================================================================
.exterior {
  // .exterior__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: em(1380)){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  // .exterior__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: em(1380)){
      row-gap: 20px;
    }
  }
  // .exterior__title
  &__title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  //.exterior__slider-box
  &__slider-box {
  }
  //.exterior__slider-nav
  &__slider-nav {

  }
  //.exterior__slider
  &__slider {

  }
  //.exterior__slide
  &__slide {
    overflow: hidden;
    border-radius: 55px;
    max-width: 100%;
    height: 600px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: em(1380)){
      height: 440px;
    }
    @media (max-width:$tablet){
      border-radius: 23px;
    }
    @media (max-width:$mobile){
      height: 380px;
    }
  }
  //.exterior__nav
  &__nav {

  }
  //.exterior__nav-slide
  &__nav-slide {
    border-radius: 32px;
    width: 265px;
    height: 180px;
    overflow: hidden;
    list-style: none;
    cursor: pointer;
    // opacity: 0.3;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media (max-width: em(1380)){
      width: 200px;
      height: 140px;
    }
    @media (max-width: em(1000)){
      border-radius: 23px;
    }
  }
  // .exterior__slider
  // &__slider {
  //   // position: relative;
  // }
  // // .exterior__slide
  // &__slide {
  //   overflow: hidden;
  //   border-radius: 55px;
  //   min-height: 600px;
  //   img {
  //     display: block;
  //     width: 100%;
  //     object-fit: cover;
  //     height: 100%;
  //   }

  // }

  // // .exterior__nav
  // &__nav {
  //   // min-width: 0;
  //   .slick-list.draggable {
  //     height: 180px;
  //   }
  //   .slick-track {
  //     display: flex;
  //     align-items: flex-start;
  //   }
  // }
  // // .exterior__thumbs-slide
  // &__nav-slide {
    
  //   border-radius: 32px;
  //   overflow: hidden;
  //   height: 180px;
  //   width: 100%;
  //   width: 265px !important;
  //   img {
  //     // display: block;
  //     width: 265px;
  //     // width: 100%;
  //     // max-width: 100%;
  //     height: 180px;
  //     object-fit: cover;
  //   }
  //   @media (any-hover: hover){
  //     &:hover{
  //       cursor: pointer;
  //     }
  //   }
  //   &:not(:last-child) {
  //     margin-right: 40px;
  //   }
  // }
}
//========================================================================================================================================================
// .splide
.splide {
  margin: 0 auto;
}

.splide__arrow.splide__arrow--prev,
.splide__arrow.splide__arrow--next {
  width: 50px;
  height: 50px;
  background: #fff;
  opacity: 1;
  svg {
    display: none !important;
  }
  @media (any-hover: hover){
    transition: all 0.3s ease 0s;
    &:hover{
      background-color: #FFC95E;
      opacity: 1;
    }
  }
}

.splide__arrow.splide__arrow--prev {
  left: 54px;
  background-image: url(../img/estate/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: em(1380)){
    left: 25px;
  }
}
.splide__arrow.splide__arrow--next {
  right: 54px;
  background-image: url(../img/estate/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: em(1380)){
    right: 25px;
  }
}

.splide__arrow:disabled {
  opacity: 1 !important;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 1 !important;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
}
.splide__track--nav > .splide__list > .splide__slide {
  border: none !important;
}

.exterior__nav.splide.splide--loop.splide--ltr.splide--draggable.splide--nav {
  margin-top: 30px;
  @media (max-width: em(1380)){
    margin-top: 20px;
  }
}
//========================================================================================================================================================



// .exterior__slider  {
//   .slick-prev.slick-arrow,
//   .slick-next.slick-arrow {
//     border-radius: 50%;
//     position: absolute;
//     top: 50%; // выравнивание по вертикали
//     transform: translateY(-50%);
//     // margin: -15px 0 0 0; // корректировка вертикального выравнивания
//     z-index: 2; // стрелки сверху картинок
//     font-size: 0; // убираем надпись на дефолтной стрелке
//     width: 50px;
//     height: 50px;
//     background-color: #fff;
//   }
//   .slick-prev.slick-arrow {
//     left: 54px;
//     background-image: url(../img/estate/arrow-left.svg);
//     background-repeat: no-repeat;
//     background-position: 45% 50%;
//     background-size: 11px 19px;
//     @media (any-hover: hover){
//       transition: all 0.3s ease 0s;
//       &:hover{
//         background-color: $yelow;
//       }
//     }
//   }
//   .slick-next.slick-arrow {
//     right: 54px;
//     background-image: url(../img/estate/arrow-right.svg);
//     background-repeat: no-repeat;
//     background-position: 55% 50%;
//     background-size: 11px 19px;
//     @media (any-hover: hover){
//       transition: all 0.3s ease 0s;
//       &:hover{
//         background-color: $yelow;
//       }
//     }
//   }

// }
//========================================================================================================================================================

//.setting
//========================================================================================================================================================
.setting {
  // .setting__container
  &__container {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  // .setting__inner
  &__inner {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 1fr 1.5fr;
    column-gap: 40px;
  }
  // .about__item
  &__item {
    &:last-child{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .about__img
  &__img-ibg {
    border-radius: 55px;
    overflow: hidden;
    padding-bottom: percent(365, 468);
    img {
      object-position: center;
    }
  }
  // .about__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  // .about__item-content
  &__item-content {

  }
  // .about__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $black;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .about__item-action
  &__item-action {
    display: flex;
    column-gap: 15px;
    padding-top: 10px;
  }
  // .about__item-link
  &__item-link {
    border-radius: 56px;
    padding: 14px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %mulish-800;
    font-size: rem(18);
    line-height: 120%;
    color: #263239;
    &:last-child{
      border: 1px solid #FFF;
      background: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(100deg, #FFC95E -41.54%, #FFC95E -22.64%, #FD9 -9.16%, #FFC95E 1.25%);
      box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.02);
    }
  }
}
//========================================================================================================================================================

//.estate-transport
//========================================================================================================================================================
.estate-transport {
  .transport__container {
    padding-top: 40px;
  }
}
// .transport -----> check the file blocks/transport
//========================================================================================================================================================

//.interior
//========================================================================================================================================================
.interior {
  // .interior__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .interior__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .interior__title
  &__title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  //.interior__slider-box
  &__slider-box {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  //.interior__slider-nav
  &__slider-nav {
    height: 50px;
  }
  // .interior__wrapper
  &__wrapper {

  }
  // .interior__slider
  &__slider {
    position: relative;
    
  }
  // .interior__slide
  &__slide {
    overflow: hidden;
    border-radius: 55px;
    height: 600px;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

  }

  // &.slick-slide[aria-hidden ="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
  //   opacity: 1;
  //   padding-top: 89px;
  //   transform: scale(120%);
  //   transition: all .2s ease;
  // }

  // .interior__nav
  &__nav {
    min-width: 0;
    // margin-top: 30px;
    .slick-list.draggable {
      height: 180px;
    }
    .slick-track {
      display: flex;
      align-items: flex-start;
    }
  }
  // .interior__thumbs-slide
  &__nav-slide {
    
    border-radius: 32px;
    overflow: hidden;
    height: 180px;
    width: 100%;
    width: 265px !important;
    img {
      // display: block;
      width: 265px;
      // width: 100%;
      // max-width: 100%;
      height: 180px;
      object-fit: cover;
    }
    @media (any-hover: hover){
      &:hover{
        cursor: pointer;
      }
    }
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.interior__slider  {
  .slick-prev.slick-arrow,
  .slick-next.slick-arrow {
    border-radius: 50%;
    position: absolute;
    top: 50%; // выравнивание по вертикали
    transform: translateY(-50%);
    // margin: -15px 0 0 0; // корректировка вертикального выравнивания
    z-index: 2; // стрелки сверху картинок
    font-size: 0; // убираем надпись на дефолтной стрелке
    width: 50px;
    height: 50px;
    background-color: #fff;
  }
  .slick-prev.slick-arrow {
    left: 54px;
    background-image: url(../img/estate/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: 45% 50%;
    background-size: 11px 19px;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $yelow;
      }
    }
  }
  .slick-next.slick-arrow {
    right: 54px;
    background-image: url(../img/estate/arrow-right.svg);
    background-repeat: no-repeat;
    background-position: 55% 50%;
    background-size: 11px 19px;
    @media (any-hover: hover){
      transition: all 0.3s ease 0s;
      &:hover{
        background-color: $yelow;
      }
    }
  }

}
//========================================================================================================================================================

//.company
//========================================================================================================================================================
.company {
  // .company__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  // .company__inner
  &__inner {
    display: grid;
    // grid-template-columns: repeat(2,1fr);
    grid-template-columns: 1fr 1.4fr;
    column-gap: 40px;
  }
  // .company__item
  &__item {
    &:last-child{
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  // .company__img
  &__img-ibg {
    border-radius: 55px;
    overflow: hidden;
    padding-bottom: percent(381, 468);
    img {
      object-position: center;
    }
  }
  // .company__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $black;
    text-transform: uppercase;
  }
  // .company__item-content
  &__item-content {

  }
  // .company__item-text
  &__item-text {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $black;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  // .company__item-action
  &__item-action {
  }
  // .company__item-link
  &__item-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 80px;
    @extend %mulish-800;
    font-size: rem(18);
    line-height: math.div(28 , 18);
    color: #263239;

  }
}
//========================================================================================================================================================

.estate-realty {
  // .location-realty__container
  &__container {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  // .location-realty__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: em(768)){
      row-gap: 40px;
    }
  }
  // .location-realty__title
  &__title {
    h3 {
      @extend %raleway-500;
      // font-size: rem(48);
      // line-height: math.div(58 , 48);
      color: $black;
      @include adaptiveValue("font-size", 48, 24, 1380, 380, 1);
      @include adaptiveValue("line-height", 58, 29, 1380, 380, 1);
      @media (max-width: em(380)){
        font-size: rem(20);
      }
    }
  }
}


// .realty -----> check the file blocks/realty