//.main
//========================================================================================================================================================
.main {
  // .main__container
  &__container {
    
  }
  // .main__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
  }
  // .main__item
  &__item {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      padding-top: 144px;
    }
    &:last-child{
      padding-top: 25px;
    }
  }
  // .main__wrapper
  &__wrapper {
  }
  // .main__title-box
  &__title-box {
    h1 {
      
      @extend %raleway-500;
      font-size: rem(80);
      line-height: math.div(96 , 80);
    }
  }
  // .main__title-link
  &__title-btn {
    display: inline-flex;
    padding: 20px 100px;

  }
  // .main__box
  &__box {
  }
  // .main__subtitle
  &__subtitle {
    @extend %mulish-600;
    font-size: rem(18);
    line-height: normal;
    color: $text;
  }
  // .main__bg
  &__bg {
  }
}
.main-wrapper {
  // .main-wrapper__box
  &__box {
    position: relative;
    span {
      @extend %raleway-300;
      font-size: rem(40);
      line-height: math.div(48 , 40);
    }
  }
  // .main-wrapper__img
  &__img {
    position: absolute;
    bottom: 24px;
    right: -160px;
  }
}
.main-box {
  min-height: 308px;
  position: relative;
  // .main-box__img
  &__img {
    position: absolute;
    right: 0;
    img {
      width: 766px;
      height: 308px;
    }
  }
  // .main-box__subtitle
  &__subtitle {
    position: absolute;
    top: 27px;
    left: 54px;
    max-width: 327px;
  }
}
.main-bg {
  position: relative;
  // .main-bg__img
  &__img {
  }
  // .main-bg__founder
  &__founder {
    position: absolute;
    left: -140px;
    bottom: 174px;
    max-width: 163px;
    text-align: right;
  }
  // .main-bg__founder-status
  &__founder-status {
    @extend %mulish-400;
    font-size: rem(12);
    line-height: normal;
  }
  // .main-bg__founder-name
  &__founder-name {
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(32 , 16);
  }
}

//========================================================================================================================================================
//.selection
.selection {
  &__container-fluid {
    margin-bottom: 70px;
    background: #E3E9F3;
    @media (max-width: em(768)){
      @include adaptiveValue("margin-bottom", 70, 40, 768, 480, 1);
    }
  }
  // .selection__container
  &__container {
    display: flex;
    flex-direction: column;
    @media (max-width: em(520)){
      margin: 0;
    }
  }
  // .selection__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    @media (max-width: em(1080)){
      @include adaptiveValue("column-gap", 60, 20, 1080, 960, 1);
    }
    @media (max-width: em(720)){
      // grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      justify-items: center;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      @include adaptiveValue("row-gap", 20, 10, 520, 480, 1);
    }
    @media (max-width: em(422)){
      align-items: flex-start;
    }
  }
  // .selection__bg
  &__bg {
    padding-top: 30px;
    position: relative;
    width: 644px;
    height: 718px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 60px;
      right: 20px;
      @media (max-width: em(1080)){
        transform: rotate(5.72deg);
        top: 0;
      }
    }
    @media (max-width: em(1280)){
      padding-top: 0;
    }
    @media (max-width: em(1080)){
      @include adaptiveValue("width", 644, 444, 1080, 880, 1);
      @include adaptiveValue("height", 718, 488, 1080, 880, 1);
    }
    @media (max-width: em(880)){
      @include adaptiveValue("width", 444, 384, 880, 768, 1);
      @include adaptiveValue("height", 488, 418, 880, 768, 1);
    }
    @media (max-width: em(768)){
      @include adaptiveValue("width", 384, 254, 768, 520, 1);
      @include adaptiveValue("height", 418, 282, 768, 520, 1);
    }
    @media (max-width: em(520)){

      // @include adaptiveValue("width", 284, 200, 560, 320, 1);
      // @include adaptiveValue("height", 282, 230, 560, 320, 1);
    }
  }


  // .selection__content
  &__content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    padding-top: 120px;
    padding-bottom: 70px;
    @media (max-width: em(1280)){
      justify-content: center;
    }
    @media (max-width: em(920)){
      padding-top: 60px;
      justify-content: flex-start;
    }
    @media (max-width: em(620)){
      padding-top: 30px;
      padding-bottom: 64px;
    }
    @media (max-width: em(520)){
      padding-top: 0;
      row-gap: 20px;
      padding-bottom: 45px;
    }
  }
  // .selection__title
  &__title {
    span {
      white-space: nowrap;
    }
  }
  // .selection__subtitle
  &__subtitle {
    color: $text;
    max-width: 371px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    @media (max-width: em(1080)){
      @include adaptiveValue("font-size", 18, 16, 1080, 920, 1);
      @include adaptiveValue("line-height", 29, 26, 1080, 920, 1);
    }
    @media (max-width: em(980)){
      max-width: 350px;
    }
    @media (max-width: em(880)){
      @include adaptiveValue("font-size", 16, 14, 880, 768, 1);
      @include adaptiveValue("line-height", 26, 22, 880, 768, 1);
    }
    @media (max-width: em(560)){
      max-width: 300px;
    }
  }
  // .selection__list
  &__list {
    color: $text;
    @extend %mulish-400;
    font-size: rem(14);
    line-height: math.div(18 , 14);
    @media (max-width: em(880)){
      @include adaptiveValue("font-size", 14, 12, 880, 768, 1);
      @include adaptiveValue("line-height", 22, 15, 880, 768, 1);
    }
  }
  // .selection__item
  &__item {
    position: relative;
    padding-left: 24px;
    &::after{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      border-radius: 50%;
      background: rgba(7, 201, 38, 0.3);
    }
    &::before{
      content:'';
      position: absolute;
      width: 8px;
      height: 8px;  
      left: 4px;
      top: 4px;
      border-radius: 50%;
      background: #07C926;
    }
  }

  // .selection__btn
  &__btn {
    @extend %btn;
    padding: 20px 100px;
    @media (max-width: em(1080)){
      @include adaptiveValue("padding-left", 100, 55, 1080, 768, 1);
      @include adaptiveValue("padding-right", 100, 55, 1080, 768, 1);
      @include adaptiveValue("padding-top", 20, 13, 1080, 768, 1);
      @include adaptiveValue("padding-bottom", 20, 13, 1080, 768, 1);
    }
  }
}
//========================================================================================================================================================
//.collection
.collection {
  // .collection__container
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
    // display: flex;
    // flex-direction: column;
    @media (max-width: em(768)){
      @include adaptiveValue("padding-top", 70, 40, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 70, 40, 768, 480, 1);
    }
  }
  // .collection__title
  &__title {
    padding: 0;
    padding-bottom: 8px;
  }
  // .collection__subtitle
  &__subtitle {
    font-size: rem(18);
    line-height: math.div(29 , 18);
    @extend %mulish-500;
    @media (max-width: em(480)){
      @include adaptiveValue("font-size", 18, 14, 480, 420, 1);
      @include adaptiveValue("line-height", 29, 22, 480, 420, 1);
    }
  }
  // .collection__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("row-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      row-gap: 30px;
    }
    @media (max-width: em(480)){
      @include adaptiveValue("padding-top", 40, 20, 480, 420, 1);
    }
  }
  // .collection__top
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("column-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }
  // .collection__item-box
  // &__item-box {

  // }
  // .collection__item
  &__item {
    position: relative;
    max-width: 570px;
    @media (max-width: em(920)){
      max-width: 100%;
    }
    @media (max-width: em(380)){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      // display: flex;

    }
  }
  // .collection__item-ibg
  &__item-ibg {
    padding-bottom: percent(366, 570);
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0) 26.66%, rgba(7, 36, 48, 0.6) 74.73%);
      border-radius: 40px;
      @media (max-width: em(920)){
        background: linear-gradient(180deg, rgba(7, 36, 48, 0.5) 26.66%, rgba(7, 36, 48, 0.6) 74.73%);
      }
      @media (max-width: em(380)){
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(7, 36, 48, 0) 26.66%, rgba(7, 36, 48, 0.1) 74.73%);
      }
    }
    img {
      border-radius: 40px;
      object-position: top;
      @media (max-width: em(380)){
        border-radius: 20px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
    @media (max-width: em(920)){
      padding-bottom: percent(366, 766);
    }
    @media (max-width: em(470)){
      padding-bottom: percent(112, 118);
    }
    @media (max-width: em(380)){
      padding-bottom: percent(152, 118);
    }
  }
  // .collection__item-content
  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;
    @media (max-width: em(380)){
      position: static;
      flex-shrink: 0;
    }
  }
  // .collection__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(28);
    line-height: math.div(39 , 28);
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: em(1060)){
      @include adaptiveValue("font-size", 28, 26, 1060, 920, 1);
      @include adaptiveValue("line-height", 39, 37, 1060, 920, 1);
    }
    @media (max-width: em(1060)){
      max-width: 220px;
    }
    @media (max-width: em(920)){
      max-width: 100%;
      @include adaptiveValue("font-size", 26, 20, 920, 520, 1);
      @include adaptiveValue("line-height", 37, 31, 920, 520, 1);
    }
    @media (max-width: em(520)){

    }
    @media (max-width: em(380)){
      @include adaptiveValue("font-size", 20, 18, 380, 360, 1);
      @include adaptiveValue("line-height", 31, 25, 380, 360, 1);
      text-shadow: none;
      color: $text;
    }
  }
  // .collection__item-info
  &__item-info {
    display: flex;
    gap: 15px;
    @extend %mulish-500;
    color: $text;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    @media (max-width: em(960)){
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: em(920)){
      flex-direction: row;
    }
    @media (max-width: em(520)){
      flex-direction: column;
    }
    @media (max-width: em(420)){
      @include adaptiveValue("font-size", 14, 12, 420, 380, 1);
      @include adaptiveValue("line-height", 22, 19, 420, 380, 1);
    }
    @media (max-width: em(380)){
      
    }
  }
  // .collection__case
  &__case {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: $grey;
    border-radius: 19px;
    @media (max-width: em(380)){
      padding: 0;
      background-color: $white;
    }
  }
  // .collection__case-icon
  // &__case-icon {
  // }
  // .collection__case-info
  // &__case-info {

  // }
  // .collection__cost
  &__cost {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: $grey;
    border-radius: 19px;
    @media (max-width: em(380)){
      padding: 0;
      background-color: $white;
      // white-space: nowrap;
    }
  }
  // .collection__cost-icon
  // &__cost-icon {
  // }
  // .collection__cost-info
  &__cost-info {
    @media (max-width: em(380)){
      // font-size: rem(11);
      // line-height: math.div(19 , 11);
    }
  }
  // .collection__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .collection__btn-link
  &__btn-link {
    padding: 10px 109px;
    @extend %btn;
    @media (max-width: em(960)){
      padding: 10px 40px;
      font-size: rem(14);
      line-height: math.div(18 , 14);
    }
    @media (max-width: em(380)){
      padding: 8px 52px;
      border-radius: 18px;
    }
  }
  // .collection__bottom
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("column-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    // .collection__item
    .collection__item {
      max-width: 366px;
      // min-height: 486px;
      @media (max-width: em(920)){
        max-width: 100%;
      }
    }
    //.collection__item-ibg
    .collection__item-ibg {
      width: 100%;
      height: 100%;
      padding-bottom: percent(486, 366);
      @media (max-width: em(920)){
        padding-bottom: percent(366, 766);
      }
      @media (max-width: em(470)){
        padding-bottom: percent(112, 118);
      }
      @media (max-width: em(380)){
        padding-bottom: percent(152, 118);
      }
    }
    // .collection__item-title {

    // }
    //.collection__btn-link
    .collection__btn-link {
      padding: 10px 40px;
      @media (max-width: em(380)){
        padding: 8px 52px;
        border-radius: 18px;
      }
    }
    //.collection__item-info
    .collection__item-info {
      @media (max-width: em(1120)){
        flex-direction: column;
      }
      @media (max-width: em(920)){
        flex-direction: row;
      }
      @media (max-width: em(520)){
        flex-direction: column;
      }
    }
  }
}
//========================================================================================================================================================
//.reason
.reason {
  
  // .reason__container
  // &__container {
  //   // max-width: 100%;
  // }
  // .reason__inner
  &__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 140px;
    @media (max-width: em(1360)){
      @include adaptiveValue("column-gap", 140, 100, 1360, 1260, 1);
    }
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
    }
    @media (max-width: em(960)){
      display: flex;
      flex-direction: column;
    }
  }
  // .reason__item
  // &__item {
  // }
  // .reason__title
  &__title {
    max-width: 570px;
    padding-bottom: 25px;
    @media (max-width: em(1280)){
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: em(960)){
      max-width: 100%;
      padding-bottom: 20px;
    }
  }
  // .reason__subtitle
  &__subtitle {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  // .reason__subtitle-img
  &__subtitle-img {
    background-color: $white;
    border-radius: 50%;
    img {
      @media (max-width: em(370)){
        font-size: rem(12);
        line-height: math.div(19 , 12);
        width: 48px;
        height: 48px;
      }
    }
  }
  // .reason__subtitle-text
  &__subtitle-text {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: $text;
    max-width: 276px;
    @media (max-width: em(370)){
      max-width: 250px;
    }
    @media (max-width: em(355)){
      max-width: 180px;
    }
  }
  // .reason__list
  &__list {
    padding-top: 28px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width: em(960)){
      padding-top: 30px;
    }
    @media (max-width: em(710)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .reason__list-item
  &__list-item {
    max-width: 440px;
    position: relative;
    padding-left: 12px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &::after{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 4px;
      left: -12px;
      border-radius: 50%;
      background: rgba(7, 201, 38, 0.3);
    }
    &::before{
      content:'';
      position: absolute;
      width: 8px;
      height: 8px;  
      left: -8px;
      top: 8px;
      border-radius: 50%;
      background: #07C926;
    }
    @media (max-width: em(960)){
      max-width: 100%;
    }
    @media (max-width: em(830)){
      max-width: 90%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
//.reason-container__fluid
.reason {
  &__container-fluid{
    background-color: $bgBlock;
    min-height: 800px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -5%;
    margin-top: 70px;
    margin-bottom: 70px;
    // @include adaptiveValue("background-size", 100%, 120%);
    @media (max-width: em(1380)){
      background-size: 120%;
    }
    @media (max-width: em(1260)){
      background-size: 140%;
    }
    @media (max-width: em(1060)){
      background-size: 170%;
    }
    @media (max-width: em(960)){
      padding-top: 30px;
      padding-bottom: 30px;
      background-position: left -105%;
    }
    @media (max-width: em(870)){
      background-position: left -55%;
      background-size: 190%;
    }
    @media (max-width: em(820)){
      background-position: left -175%;
    }
    @media (max-width: em(768)){
      @include adaptiveValue("margin-top", 70, 40, 768, 480, 1);
      @include adaptiveValue("margin-bottom", 70, 35, 768, 480, 1);
    }
    @media (max-width: em(710)){
      background-size: 170%;
      background-position: 0% 210%;
    }
    @media (max-width: em(590)){
      background-size: 180%;
      background-position: 0% 100%;
    }
    @media (max-width: em(360)){
      background-size: 160%;
      background-position: 0% 100%;
    }
  }
}


