//.main
//========================================================================================================================================================
.main {
  background-color: #F5F7FA;
  // .main__container
  &__container {
    
  }
  // .main__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include adaptiveValue("column-gap", 150, 60, 1680, 1170, 1);
  }
  // .main__item
  &__item {
    &:first-child{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      padding-top: 144px;
    }
    &:last-child{
      padding-top: 25px;
    }
  }
  // .main__wrapper
  &__wrapper {
  }
  // .main__title-box
  &__title-box {
    position: relative;
    h1 {
      @extend %raleway-500;
      font-size: rem(80);
      line-height: math.div(96 , 80);
    }
  }
  // .main__title-link
  &__title-btn {
    position: absolute;
    right: 0;
    bottom: 18px;
    display: inline-flex;
    padding: 20px 100px;

  }
  // .main__box
  &__box {
  }
  // .main__subtitle
  &__subtitle {
    @extend %mulish-600;
    font-size: rem(18);
    line-height: normal;
    color: $text;
  }
  // .main__bg
  &__bg {
  }
}
.main-wrapper {
  // .main-wrapper__box
  &__box {
    position: relative;
    span {
      @extend %raleway-300;
      font-size: rem(40);
      line-height: math.div(48 , 40);
    }
  }
  // .main-wrapper__img
  &__img {
    position: absolute;
    bottom: 24px;
    right: -160px;
    img {
      width: 237px;
      height: 149px;
    }
    @media (max-width: em(1480)){
      right: -60px;
    }
  }
}
.main-box {
  min-height: 308px;
  position: relative;
  // .main-box__img
  &__img {
    position: absolute;
    right: 0;
    img {
      width: 766px;
      height: 308px;
    }
    @media (max-width: em(1480)){
      right: 80px;
    }
  }
  // .main-box__subtitle
  &__subtitle {
    position: absolute;
    top: 27px;
    left: 54px;
    max-width: 327px;
    @media (max-width: em(1480)){
      left: 10px;
    }
  }
}
.main-bg {
  position: relative;
  // .main-bg__img
  &__img {
  }
  // .main-bg__founder
  &__founder {
    position: absolute;
    left: -140px;
    bottom: 174px;
    max-width: 163px;
    text-align: right;
    @media (max-width: em(1480)){
      left: -80px;
    }
  }
  // .main-bg__founder-status
  &__founder-status {
    @extend %mulish-400;
    font-size: rem(12);
    line-height: normal;
  }
  // .main-bg__founder-name
  &__founder-name {
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(32 , 16);
  }
}
//========================================================================================================================================================

//.selection
//========================================================================================================================================================

.selection-container {
  &__fluid {
    margin-bottom: 70px;
    background: #E3E9F3;
    @media (max-width: em(768)){
      @include adaptiveValue("margin-bottom", 70, 40, 768, 480, 1);
    }
  }
}

.selection {
  // &__container-fluid {
    
  // }
  // .selection__container
  &__container {
    display: flex;
    flex-direction: column;
    @media (max-width: em(520)){
      margin: 0;
    }
  }
  // .selection__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    @media (max-width: em(1080)){
      @include adaptiveValue("column-gap", 60, 20, 1080, 960, 1);
    }
    @media (max-width: em(720)){
      // grid-template-columns: 1fr;
      display: flex;
      flex-direction: column;
      justify-items: center;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      @include adaptiveValue("row-gap", 20, 10, 520, 480, 1);
    }
    @media (max-width: em(422)){
      align-items: flex-start;
    }
  }
  // .selection__bg
  &__bg {
    padding-top: 30px;
    position: relative;
    width: 644px;
    height: 718px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 60px;
      right: 20px;
      @media (max-width: em(1080)){
        transform: rotate(5.72deg);
        top: 0;
      }
    }
    @media (max-width: em(1280)){
      padding-top: 0;
    }
    @media (max-width: em(1080)){
      @include adaptiveValue("width", 644, 444, 1080, 880, 1);
      @include adaptiveValue("height", 718, 488, 1080, 880, 1);
    }
    @media (max-width: em(880)){
      @include adaptiveValue("width", 444, 384, 880, 768, 1);
      @include adaptiveValue("height", 488, 418, 880, 768, 1);
    }
    @media (max-width: em(768)){
      @include adaptiveValue("width", 384, 254, 768, 520, 1);
      @include adaptiveValue("height", 418, 282, 768, 520, 1);
    }
    @media (max-width: em(520)){

      // @include adaptiveValue("width", 284, 200, 560, 320, 1);
      // @include adaptiveValue("height", 282, 230, 560, 320, 1);
    }
  }


  // .selection__content
  &__content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    padding-top: 120px;
    padding-bottom: 70px;
    @media (max-width: em(1280)){
      justify-content: center;
    }
    @media (max-width: em(920)){
      padding-top: 60px;
      justify-content: flex-start;
    }
    @media (max-width: em(620)){
      padding-top: 30px;
      padding-bottom: 64px;
    }
    @media (max-width: em(520)){
      padding-top: 0;
      row-gap: 20px;
      padding-bottom: 45px;
    }
  }
  // .selection__title
  &__title {
    span {
      white-space: nowrap;
    }
  }
  // .selection__subtitle
  &__subtitle {
    color: $text;
    max-width: 371px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    @media (max-width: em(1080)){
      @include adaptiveValue("font-size", 18, 16, 1080, 920, 1);
      @include adaptiveValue("line-height", 29, 26, 1080, 920, 1);
    }
    @media (max-width: em(980)){
      max-width: 350px;
    }
    @media (max-width: em(880)){
      @include adaptiveValue("font-size", 16, 14, 880, 768, 1);
      @include adaptiveValue("line-height", 26, 22, 880, 768, 1);
    }
    @media (max-width: em(560)){
      max-width: 300px;
    }
  }
  // .selection__list
  &__list {
    color: $text;
    @extend %mulish-400;
    font-size: rem(14);
    line-height: math.div(18 , 14);
    @media (max-width: em(880)){
      @include adaptiveValue("font-size", 14, 12, 880, 768, 1);
      @include adaptiveValue("line-height", 22, 15, 880, 768, 1);
    }
  }
  // .selection__item
  &__item {
    position: relative;
    padding-left: 24px;
    &::after{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      border-radius: 50%;
      background: rgba(7, 201, 38, 0.3);
    }
    &::before{
      content:'';
      position: absolute;
      width: 8px;
      height: 8px;  
      left: 4px;
      top: 4px;
      border-radius: 50%;
      background: #07C926;
    }
  }

  // .selection__btn
  &__btn {
    @extend %btn;
    padding: 20px 100px;
    @media (max-width: em(1080)){
      @include adaptiveValue("padding-left", 100, 55, 1080, 768, 1);
      @include adaptiveValue("padding-right", 100, 55, 1080, 768, 1);
      @include adaptiveValue("padding-top", 20, 13, 1080, 768, 1);
      @include adaptiveValue("padding-bottom", 20, 13, 1080, 768, 1);
    }
  }
}
//========================================================================================================================================================

//.collection
//========================================================================================================================================================
.collection {
  background-color: #F5F7FA;
  // .collection__container
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
    // display: flex;
    // flex-direction: column;
    @media (max-width: em(768)){
      @include adaptiveValue("padding-top", 70, 40, 768, 480, 1);
      @include adaptiveValue("padding-bottom", 70, 40, 768, 480, 1);
    }
  }
  // .collection__title
  &__title {
    padding: 0;
    padding-bottom: 8px;
  }
  // .collection__subtitle
  &__subtitle {
    font-size: rem(18);
    line-height: math.div(29 , 18);
    @extend %mulish-500;
    @media (max-width: em(480)){
      @include adaptiveValue("font-size", 18, 14, 480, 420, 1);
      @include adaptiveValue("line-height", 29, 22, 480, 420, 1);
    }
  }
  // .collection__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("row-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      row-gap: 30px;
    }
    @media (max-width: em(480)){
      @include adaptiveValue("padding-top", 40, 20, 480, 420, 1);
    }
  }
  // .collection__top
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("column-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }
  // .collection__item-box
  // &__item-box {

  // }
  // .collection__item
  &__item {
    position: relative;
    max-width: 570px;
    @media (max-width: em(920)){
      max-width: 100%;
    }
    @media (max-width: em(380)){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
    }
  }
  // .collection__item-ibg
  &__item-ibg {
    padding-bottom: percent(366, 570);
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0) 26.66%, rgba(7, 36, 48, 0.6) 74.73%);
      border-radius: 40px;
      @media (max-width: em(920)){
        background: linear-gradient(180deg, rgba(7, 36, 48, 0.5) 26.66%, rgba(7, 36, 48, 0.6) 74.73%);
      }
      @media (max-width: em(380)){
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(7, 36, 48, 0) 26.66%, rgba(7, 36, 48, 0.1) 74.73%);
      }
    }
    img {
      border-radius: 40px;
      object-position: top;
      @media (max-width: em(380)){
        border-radius: 20px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
      }
    }
    @media (max-width: em(920)){
      padding-bottom: percent(366, 766);
    }
    @media (max-width: em(470)){
      padding-bottom: percent(112, 118);
    }
    @media (max-width: em(380)){
      padding-bottom: percent(152, 118);
    }
  }
  // .collection__item-content
  &__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 2;
    @media (max-width: em(380)){
      position: static;
      flex-shrink: 0;
    }
  }
  // .collection__item-title
  &__item-title {
    @extend %raleway-600;
    font-size: rem(28);
    line-height: math.div(39 , 28);
    color: $white;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: em(1060)){
      @include adaptiveValue("font-size", 28, 26, 1060, 920, 1);
      @include adaptiveValue("line-height", 39, 37, 1060, 920, 1);
    }
    @media (max-width: em(1060)){
      max-width: 220px;
    }
    @media (max-width: em(920)){
      max-width: 100%;
      @include adaptiveValue("font-size", 26, 20, 920, 520, 1);
      @include adaptiveValue("line-height", 37, 31, 920, 520, 1);
    }
    @media (max-width: em(520)){

    }
    @media (max-width: em(380)){
      @include adaptiveValue("font-size", 20, 18, 380, 360, 1);
      @include adaptiveValue("line-height", 31, 25, 380, 360, 1);
      text-shadow: none;
      color: $text;
    }
  }
  // .collection__item-info
  &__item-info {
    display: flex;
    gap: 15px;
    @extend %mulish-500;
    color: $text;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    @media (max-width: em(960)){
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
    }
    @media (max-width: em(920)){
      flex-direction: row;
    }
    @media (max-width: em(520)){
      flex-direction: column;
    }
    @media (max-width: em(420)){
      @include adaptiveValue("font-size", 14, 12, 420, 380, 1);
      @include adaptiveValue("line-height", 22, 19, 420, 380, 1);
    }
    @media (max-width: em(380)){
      
    }
  }
  // .collection__case
  &__case {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: $grey;
    border-radius: 19px;
    @media (max-width: em(380)){
      padding: 0;
      background-color: $white;
    }
  }
  // .collection__case-icon
  // &__case-icon {
  // }
  // .collection__case-info
  // &__case-info {

  // }
  // .collection__cost
  &__cost {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 16px;
    background-color: $grey;
    border-radius: 19px;
    @media (max-width: em(380)){
      padding: 0;
      background-color: $white;
      // white-space: nowrap;
    }
  }
  // .collection__cost-icon
  // &__cost-icon {
  // }
  // .collection__cost-info
  &__cost-info {
    @media (max-width: em(380)){
      // font-size: rem(11);
      // line-height: math.div(19 , 11);
    }
  }
  // .collection__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .collection__btn-link
  &__btn-link {
    padding: 10px 109px;
    @extend %btn;
    @media (max-width: em(960)){
      padding: 10px 40px;
      font-size: rem(14);
      line-height: math.div(18 , 14);
    }
    @media (max-width: em(380)){
      padding: 8px 52px;
      border-radius: 18px;
    }
  }
  // .collection__bottom
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    @media (max-width: em(1280)){
      @include adaptiveValue("column-gap", 40, 20, 1280, 1180, 1);
    }
    @media (max-width: em(920)){
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    // .collection__item
    .collection__item {
      max-width: 366px;
      // min-height: 486px;
      @media (max-width: em(920)){
        max-width: 100%;
      }
    }
    //.collection__item-ibg
    .collection__item-ibg {
      width: 100%;
      height: 100%;
      padding-bottom: percent(486, 366);
      @media (max-width: em(920)){
        padding-bottom: percent(366, 766);
      }
      @media (max-width: em(470)){
        padding-bottom: percent(112, 118);
      }
      @media (max-width: em(380)){
        padding-bottom: percent(152, 118);
      }
    }
    // .collection__item-title {

    // }
    //.collection__btn-link
    .collection__btn-link {
      padding: 10px 40px;
      @media (max-width: em(380)){
        padding: 8px 52px;
        border-radius: 18px;
      }
    }
    //.collection__item-info
    .collection__item-info {
      @media (max-width: em(1120)){
        flex-direction: column;
      }
      @media (max-width: em(920)){
        flex-direction: row;
      }
      @media (max-width: em(520)){
        flex-direction: column;
      }
    }
  }
}
//========================================================================================================================================================


//.reason
//========================================================================================================================================================
.reason {
  background-color: #F5F7FA;
  // .reason__container
  // &__container {
  //   // max-width: 100%;
  // }
  // .reason__inner
  &__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 140px;
    @media (max-width: em(1360)){
      @include adaptiveValue("column-gap", 140, 100, 1360, 1260, 1);
    }
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
      column-gap: 100px;
    }
    @media (max-width: em(960)){
      display: flex;
      flex-direction: column;
    }
  }
  // .reason__item
  // &__item {
  // }
  // .reason__title
  &__title {
    max-width: 570px;
    padding-bottom: 25px;
    @media (max-width: em(1280)){
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
    @media (max-width: em(960)){
      max-width: 100%;
      padding-bottom: 20px;
    }
  }
  // .reason__subtitle
  &__subtitle {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  // .reason__subtitle-img
  &__subtitle-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: $white;
    border-radius: 50%;
    img {
      @media (max-width: em(370)){
        font-size: rem(12);
        line-height: math.div(19 , 12);
        width: 48px;
        height: 48px;
      }
    }
  }
  // .reason__subtitle-text
  &__subtitle-text {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: $text;
    max-width: 276px;
    @media (max-width: em(370)){
      max-width: 250px;
    }
    @media (max-width: em(355)){
      max-width: 180px;
    }
  }
  // .reason__list
  &__list {
    padding-top: 28px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    @media (max-width: em(960)){
      padding-top: 30px;
    }
    @media (max-width: em(710)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .reason__list-item
  &__list-item {
    max-width: 440px;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media (max-width: em(960)){
      max-width: 100%;
    }
    @media (max-width: em(830)){
      max-width: 90%;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
//.reason-container__fluid
.reason {
  &__container-fluid{
    background-color: $bgBlock;
    min-height: 800px;
    padding-top: 55px;
    padding-bottom: 55px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center -5%;
    margin-top: 70px;
    margin-bottom: 70px;
    // @include adaptiveValue("background-size", 100%, 120%);
    @media (max-width: em(1380)){
      background-size: 120%;
    }
    @media (max-width: em(1260)){
      background-size: 140%;
    }
    @media (max-width: em(1060)){
      background-size: 170%;
    }
    @media (max-width: em(960)){
      padding-top: 30px;
      padding-bottom: 30px;
      background-position: left -105%;
    }
    @media (max-width: em(870)){
      background-position: left -55%;
      background-size: 190%;
    }
    @media (max-width: em(820)){
      background-position: left -175%;
    }
    @media (max-width: em(768)){
      @include adaptiveValue("margin-top", 70, 40, 768, 480, 1);
      @include adaptiveValue("margin-bottom", 70, 35, 768, 480, 1);
    }
    @media (max-width: em(710)){
      background-size: 170%;
      background-position: 0% 210%;
    }
    @media (max-width: em(590)){
      background-size: 180%;
      background-position: 0% 100%;
    }
    @media (max-width: em(360)){
      background-size: 160%;
      background-position: 0% 100%;
    }
  }
}
//========================================================================================================================================================

//.risk
//========================================================================================================================================================
.risk {
  background-color: #F5F7FA;
  // .risk__container
  &__container {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  // .risk__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 100px;
  }
  // .risk__item
  &__item {

  }

  // .risk__item-wrapper
  &__item-wrapper {

    padding: 40px;
    border-radius: 64px;
    background: #FFF;
  }

  // .risk__statistics
  &__statistics {
  }
}
.risk-statistics {
  // .risk-statistics__title-box
  &__title-box {
    display: flex;  
    flex-direction: column;
    row-gap: 4px;
  }
  // .risk-statistics__title
  &__title {
    @extend %mulish-800;
    font-size: rem(16);
    line-height: 120%;
    color: $black;
  }
  // .risk-statistics__subtitle
  &__subtitle {
    @extend %mulish-500;
    font-size: rem(15);
    line-height: 120%;
    color: $black;
  }
  // .risk-statistics__map
  &__map {
    padding-top: 25px;
    display: grid;
    grid-template-columns: 1fr 2.3fr;
    column-gap: 20px;
  }
  // .risk-statistics__map-city
  &__map-city {
    max-width: 130px;

  }
  // .risk-statistics__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }
  // .risk-statistics__list-item
  &__list-item {
    display: flex;
    column-gap: 20px;
    @extend %mulish-500;
    font-size: rem(12);
    line-height: 120%;
  }

  //risk-statistics__list-num
  &__list-num {
    min-width: 12px;
    color: $text;
  }
  //risk-statistics__list-city
  &__list-city {
    
    display: inline-flex;
  }
  //risk-statistics__diagram
  &__diagram {
    display: flex;
    border-left: 1px solid #13465B;
  }

  //risk-statistics__analitic
  &__analitic {
    position: absolute;
    
  }
  //risk-statistics__legend
  &__legend {
    padding-top: 30px;
    display: flex;
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: center;
  }

  //risk-statistics__legend-item
  &__legend-item {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
      &:nth-child(1) {
        .risk-statistics__legend-color {
          width: 15px;
          height: 15px;
          border-radius: 4px;
          background-color: #07C926;
        }
        .risk-statistics__legend-text {
          max-width: 153px;
        }
      }
      &:nth-child(2) {
        .risk-statistics__legend-color {
          width: 15px;
          height: 15px;
          border-radius: 4px;
          background-color: #FFC95E;
        }
        .risk-statistics__legend-text {
          max-width: 96px;
        }
      }
      &:nth-child(3) {
        .risk-statistics__legend-color {
          width: 15px;
          height: 15px;
          border-radius: 4px;
          background-color: #EF3636;
        }
        .risk-statistics__legend-text {
          max-width: 108px;
        }
      }
  }
  
  //risk-statistics__legend-color
  &__legend-color {

  }
  //risk-statistics__legend-text
  &__legend-text {  
    @extend %mulish-500;
    font-size: rem(10);
    line-height: 120%;
    color: $black;
  }
}

.risk-item {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  // .risk-item__title
  &__title {
    text-transform: uppercase;
    span {
      @extend %raleway-400;
      font-size: rem(32);
      line-height: math.div(45 , 32);
    }
    h3 {
      @extend %raleway-600;
      font-size: rem(40);
      line-height: math.div(56 , 40);

    }
  }
  // .risk-item__text
  &__text {
    max-width: 468px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
  }
  // .risk-item__box-btn
  &__box-btn {

  }
  //risk-item__btn
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 28px 40px;
    text-transform: uppercase;
    @extend %mulish-800;
    font-size: rem(16);
    line-height: 120%;
    color: #263239;
  }
}
//========================================================================================================================================================

//.best
//========================================================================================================================================================
.best {
  background-color: #F5F7FA;
  // .best__container
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  // .best__content
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  // .best__title-box
  &__title-box {
    // padding: 0;
    h3 {
      @extend %raleway-600;
      font-size: rem(56);
      line-height: math.div(78 , 56);
      text-transform: uppercase;
      color: $black;
    }
    span {
      @extend %raleway-400;
      font-size: rem(32);
      line-height: math.div(45 , 32);
      text-transform: uppercase;
      color: $black;
    }
  }
  // .best__content-text
  &__content-text {
    padding: 18px 0;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
  }
  // .best__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  // .best__top
  &__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  // .best__center
  &__center {
    display: grid;
    grid-auto-columns: 1fr;
  }
  // .best__bottom
  &__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    .best-item {
      min-height: 625px;
    }
    .best-item__action-text {
      display: none;
    }
  }
  // .best__item
  &__item {

  }
  // .best__action
  &__action {
    display: flex;
    justify-content: center;
  }
  // .best__action-link
  &__action-link {
    padding: 10px 80px;
    border-radius: 22px;
    background: #FFF;
    @extend %mulish-800;
    font-size: rem(18);
    line-height: 120%;
    color: #263239;
    @media (any-hover: hover){
      transition: background-color 0.3s ease 0s;
      &:hover{
        background-color: $yelow;
      }
    }
  }
}

.best-item {
  min-height: 462px;
  padding: 25px 25px 35px 25px;
  border-radius: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  // .best-item__label
  &__label {
    display: flex;
    justify-content: center;
  }
  // .best-item__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .best-item__item-title
  &__item-title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    @extend %raleway-600;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    color: $white;

  }
  // .best-item__wrapper
  &__wrapper {
    display: flex;
  }
  // .best-item__info
  &__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
  }
  // .best-item__unit
  &__unit {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    border-radius: 19px;
    border: 1px solid #E3E9F3;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(5px);
    img {
      width: 16px;
      height: 16px;
    }
  }
  // .best-item__unit-text
  &__unit-text {
    @extend %mulish-500;
    font-size: rem(12);
    line-height: math.div(19 , 12);
    color: $white;
  }
  // .best-item__action
  &__action {
    display: flex;
    justify-content: space-between;
  }
  // .best-item__btn
  &__btn {
    display: inline-flex;
  }
  // .best-item__btn-link
  &__btn-link {
    padding: 10px 80px;
    @extend %mulish-800;
    font-size: rem(14);
    line-height: normal;
  }
  // .best-item__action-text
  &__action-text {
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(22 , 14);
    color: $white;
  }
}
//========================================================================================================================================================

//.payment
//========================================================================================================================================================
.payment-container {
  &__fluid {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: block;
    background-color: $bgBlock;
    padding-top: 42px;
    padding-bottom: 257px;
    margin-bottom: 70px;
  }
}
//.payment(top)
.payment {
  // .payment__container
  &__container {
    padding-top: 70px;
  }
  
  &__title-inner {
    padding-bottom: 35px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 420px;
  }
  // .payment__title-box
  &__title-box {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 50px;
    max-width: 400px;
    p {
      @extend %mulish-500;
      font-size: rem(18);
      line-height: math.div(29 , 18);
      color: $text;

    }
  }
  //payment__title-price
  &__title-price {
    width: 231px;
    height: 231px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-shrink: 0;
    position: absolute;
    border-radius: 50%;
    bottom: -85px;
    right: 40%;
    background-image: linear-gradient(51deg, #FFC95E 25.29%, #FFC95E 39.14%, #FD9 49.02%, #FFC95E 56.66%);
    @extend %mulish-500;
    color: $black;
    text-transform: uppercase;
    span {
      font-size: rem(100);
      // line-height: 120%;
    }
    p {
      font-size: rem(24);
      // line-height: math.div(38 , 24);
    }
  }
  // .payment__decor
  &__decor {
    display: grid;
    justify-items: end;
    img {
      width: 298px;
      height: 186px;
    }
  }
  //payment__wrapper
  &__wrapper {
    padding-bottom: 217px;
  }
  //payment__context
  &__context {
    display: flex;
    align-items: center;
    padding-bottom: 110px;
  }
  //payment__context-text
  &__context-text {
    position: relative;
    padding: 12px 30px;
    background-color: #fff;
    border-radius: 22px;
    @extend %mulish-600;
    font-size: rem(12);
    line-height: 120%;
    &::after{
      content:'';
      position: absolute;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 10px;
      border-radius: 50%;
      background: rgba(7, 201, 38, 0.3);
    }
    &::before{
      content:'';
      position: absolute;
      width: 8px;
      height: 8px;  
      left: 14px;
      top: 16px;
      border-radius: 50%;
      background: #07C926;
    }
  }

  //payment__items
  &__items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 88px;
    justify-items: center;
    // display: flex;
    // justify-content: space-between;
  }

  &__item-box {
    position: relative;
    &:not(:last-child) {
      &::after{
        display: flex;
        white-space: nowrap;
        content:'6 месяцев';
        position: absolute;
        top: -33px;
        right: -80px;
        padding: 2px 4px;
        border-radius: 16px;
        background-color: #13465B;
        @extend %mulish-500;
        font-size: rem(12);
        line-height: math.div(19 , 12);
        color: #FFF;
      }
      &::before{
        content:'';
        position: absolute;
        background-image: url(../img/payment/line.svg);
        background-position: center;
        background-repeat: no-repeat;
        width: 154px;
        height: 77px;
        left: 39px;
        top: -30px;
      }
    }
    &:first-child,
    &:last-child {
      .payment__item {
        background-color: #13465B;
      }
    }
  }
  //.payment__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 60px;
    border: 1px solid #FFF;
    background-color: $yelow;
    z-index: 5;
  }
  //payment__item-num
  &__item-num {
    @extend %mulish-500;
    font-size: rem(12);
    // line-height: math.div(19 , 12);
    color: $white;
  }

  //payment__item-percent
  &__item-percent {
    @extend %mulish-800;
    font-size: rem(24);
    line-height: 120%;
    color: $white;
  }

  &__item-line {
    position: absolute;
    top: -28px;
    left: 39px;
  }

}

//.payment(bottom)
.payment {
  // .payment__inner
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 223px;
  }
  // .payment__form
  &__form {
    max-width: 406px;
  }
  // .payment__content
  &__content {
  }
}
.payment-form {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  &__wrapper {
    padding: 43px 22px;
    background-color: $white;
    border-radius: 46px;
  }
  // .payment-form__item-wrapper
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .payment-form__item
  &__item { 
      &:last-child{
        .payment-form__input {
          padding-left: 68px;
        }
      } 
    
  }
  // .payment-form__input
  &__input {
    padding: 20px 87px 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    background-color: $grey;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $text;

  }
  // .payment-form__action
  &__action {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  // .payment-form__btn
  &__btn {
    width: 100%;
    padding: 20px 50px;
    @extend %mulish-800;
    font-size: rem(14);
    line-height: 120%;
    color: #263239;
  }
  // .payment-form__politics
  &__politics {

    max-width: 362px;
    text-align: center;
    @extend %mulish-500;
    font-size: rem(12);
    line-height: math.div(15 , 12);
  }
  // .payment-form__politics-link
  &__politics-link {
    @extend %mulish-800;
    color: rgb(71, 162, 248);
  }
}

//.payment-form__input_form-error
.payment-form__input._form-error {
  outline: 2px solid #f00;
}
//.payment-form__input:focus
.payment-form__input:focus {
  outline: 2px solid $yelow;
}

.payment-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  // .payment-content__title-box
  &__title-box {
    position: relative;
  }
  // .payment-content__subtitle
  &__subtitle {
    @extend %raleway-400;
    font-size: rem(32);
    line-height: math.div(45 , 32);
    text-transform: uppercase;
  }
  // .payment-content__title
  &__title {
    @extend %raleway-600;
    font-size: rem(47);
    line-height: math.div(68 , 47);
    text-transform: uppercase;
    
  }
  // .payment-content__title-info
  &__title-info {
    position: absolute;
    bottom: 12px;
    left: 36%;
    max-width: 154px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
    background-color: $yelow;
    border-radius: 25px;
    @extend %mulish-500;
    font-size: rem(14);
    line-height: math.div(20 , 14);
    text-transform: uppercase;
    color: $white;
  }
  // .payment-content__list
  &__list {
    max-width: 406px;
    display: grid;
    row-gap: 20px;
    padding-left: 15px;
  }
  // .payment-content__list-item
  &__list-item {
    padding-left: 12px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: $text;
    &::after{
      top: 6px;
    }
    &::before{
      top: 10px;
    }
  }
}
//========================================================================================================================================================

//faq
//========================================================================================================================================================
.faq {
  // .faq__container
  &__container {
    padding-top: 70px;
  }
  // .faq__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .faq__title-inner
  &__title-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  // .faq__title-box
  &__title-box {
    color: $black;
    span {
      @extend %raleway-400;
      font-size: rem(32);
      line-height: math.div(45 , 32);
      text-transform: uppercase;
    }
    h3 {
      @extend %raleway-600;
      font-size: rem(56);
      line-height: math.div(78 , 56);
      text-transform: uppercase;
    }
  }
  // .faq__title-img
  &__title-img {
    img {
      width: 428px;
      height: 126px;
    }
  }
  // .faq__inner
  &__inner {
  }
}
.faq-inner {
  padding: 48px 64px;
  background-color: $white;
  border-radius: 48px;
  // .faq-inner__spollers
  &__spollers {
    display: grid;
    gap: 32px;
  }
  // .faq-inner__spollers-item
  &__spollers-item {
    position: relative;
    font-size: rem(20);
    &::after{
      content:'';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -12px;
      left: 0;
      background-color: #F5F7FA;
    }
  }
  // .faq-inner__spollers-title
  &__spollers-title {
    width: 100%;
    cursor: default;
    text-align: left;
    // border: 1px solid #eee;
    padding: 12px 40px 12px 0;
    // border-radius: rem(5);
    position: relative;
    @extend %raleway-600;
    font-size: rem(24);
    line-height: 120%;
    color: #131A29;
    ._spoller-init & {
      cursor: pointer;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 50%;
        background-color: #000;
        height: 2px;
        width: 14px;
        transition: transform 0.5s ease 0s;
      }
      &::before {
        transform: translate(-75%, -50%) rotate(40deg);
      }
      &::after {
        transform: translate(0, -50%) rotate(-40deg);
      }
      &._spoller-active {
        &::before {
          transform: translateX(-75%) rotate(-40deg);
        }
        &::after {
          transform: rotate(40deg);
        }
      }
    }
  }
  // .faq-inner__spollers-body
  &__spollers-body {

  }
}
.spollers {
  // .spollers__item
  &__item {

  }
  // .spollers__title
  &__title {
  }
}
.spollers-body {
  padding-top: 12px;
  padding-bottom: 16px;
  //spollers-body__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .spollers-body__list
  &__list {
    padding-left: 25px;
  }
  //spollers-body__list-title
  &__list-title {
    @extend %mulish-800;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #131A29;

  }

  // .spollers-body__list-item
  &__list-item {
    list-style: disc;
    @extend %mulish-400;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #131A29;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  //spollers-body__text
  &__text {
    @extend %mulish-500;
    font-size: rem(16);
    line-height: math.div(26 , 16);
    color: #131A29;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}





