
//========================================================================================================================================================
.location {
  // .location__container
  &__container {
    padding-bottom: 50px;
    @media (max-width: em(768)){
      padding-bottom: 30px;
    }
  }
  // .location__inner
  &__inner {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .location__bg
  &__bg {
    position: relative;
    min-height: 422px;
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &::before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(7, 36, 48, 0.00) 26.66%, rgba(7, 36, 48, 0.60) 74.73%);
      border-radius: 30px;
      border-radius: 55px;
      @media (max-width: em(768)){
        border-radius: 40px;
      }
    }
    @media (max-width: em(768)){
      border-radius: 40px;
    }
  }
  // .location__title
  &__title {
    text-align: center;
    z-index: 1;
    h3 {
      @extend %raleway-500;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      color: $white;
      @include adaptiveValue("font-size", 64, 28, 1380, 380, 1);
      @include adaptiveValue("line-height", 77, 40, 1380, 380, 1);
      @media (max-width: em(380)){
        font-size: rem(28);
      }
    }
  }
  // .location__info
  &__info {
    padding-top: 10px;
    display: grid;
    row-gap: 15px;
  }
  // .location__info-text
  &__info-text {
    @extend %mulish-500;
    // font-size: rem(16);
    line-height: math.div(26 , 16);
    @include adaptiveValue("font-size", 16, 14, 1380, 380, 1);
    @include adaptiveValue("line-height", 26, 22, 1380, 380, 1);
  }
  // .location__action
  &__action {
    @media (max-width: em(1240)){
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }
  // .location__btn
  &__btn {
    text-align: center;
    padding: 15px 40px;
    border-radius: 56px;
    @extend %mulish-800;
    font-size: rem(14);
    line-height: 120%;
    text-transform: uppercase;
  }
}

//========================================================================================================================================================


// .transport -----> check the file blocks/transport


//========================================================================================================================================================

.location-realty {
  // .location-realty__container
  &__container {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  // .location-realty__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: em(768)){
      row-gap: 40px;
    }
  }
  // .location-realty__title
  &__title {
    h3 {
      @extend %raleway-500;
      color: $black;
      @include adaptiveValue("font-size", 48, 24, 1380, 380, 1);
      @include adaptiveValue("line-height", 58, 29, 1380, 380, 1);
      @media (max-width: em(380)){
        font-size: rem(20);
      }
    }
  }
}


// .realty -----> check the file blocks/realty

