.privacy-policy {
  // .privacy-policy__container
  &__container {
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width: em(520)){
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  // .privacy-policy__inner
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  // .privacy-policy__heading
  &__heading {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @extend %raleway-600;
    color: $black;
    span {
      font-size: rem(12);
      line-height: 120%;
    }
    h1 {
      font-size: rem(32);
      line-height: math.div(37 , 32);
      @media (max-width: em(520)){
        font-size: rem(24);
        line-height: math.div(32 , 24);
      }
    }
  }
  // .privacy-policy__content
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @extend %raleway-300;
    font-size: rem(16);
    line-height: math.div(25 , 16);
    color: $black;
    @media (max-width: em(520)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .privacy-policy__paragraph
  &__paragraph {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}
