//.projects
//========================================================================================================================================================
.projects {
  // .projects__container
  &__container {
    padding-top: 20px;
  }
  // .projects__top
  &__top {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  // .projects__title
  &__title {
    @extend %raleway-700;
    font-size: rem(56);
    line-height: math.div(67 , 56);
    color: $black;
    h3 {
      @media (max-width: em(1380)){
        @include adaptiveValue("font-size", 56, 40, 1380, 1000, 1);
        @include adaptiveValue("line-height", 78, 56, 1380, 1000, 1);
      }
      @media (max-width: em(1000)){
        @include adaptiveValue("font-size", 40, 36, 1000, 768, 1);
        @include adaptiveValue("line-height", 56, 50, 1000, 768, 1);
        font-size: rem(40);
      }
      @media (max-width: em(768)){
        @include adaptiveValue("font-size", 36, 32, 768, 690, 1);
        @include adaptiveValue("line-height", 50, 38, 768, 690, 1);
        font-size: rem(40);
      }
      @media (max-width: em(690)){
        @include adaptiveValue("font-size", 32, 24, 690, 480, 1);
        @include adaptiveValue("line-height", 38, 33, 690, 480, 1);
      }
    }
  }
  // .projects__items
  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
  // .projects__btn
  &__btn {
    padding: 6px 16px 6px 6px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: $white;
    border-radius: 35px;
  }
  // .projects__item-img
  &__item-img {
    width: 38px;
    height: 38px;
    padding: 9px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: $text;
  }
  // .projects__item-text
  &__item-text {
    @extend %roboto-500;
    font-size: rem(16);
    line-height: 120%;
  }
  // .projects__inner
  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 20px;
    @media (max-width: em(1240)){
      display: block;
    }
  }
  //.projects__filter-btn
  &__filter-btn {
    padding: 10px;
    border-radius: 35px;
    background-color: #FFC95E;
    @extend %roboto-500;
    font-size: rem(16);
    display: none;
    @media (max-width: em(1240)){
      display: inline-flex;
      align-items: center;
      column-gap: 5px;
    }
  }
  // .projects__filters
  &__filters {
    margin-right: 40px;
    padding-right: 20px;
    width: 245px;
    border-right: 2px solid #fff;
    @media (max-width: em(1240)){
      display: none;
      padding: 25px 20px 45px 20px;
      border-radius: 30px;
      width: 100%;
      margin-right: 0;
      border-right: none;
      background-color: #fff;
    }
  }
  // .projects__filters-active
  &__filters-active {
    display: block;
  }
}
//.filter
//========================================================================================================================================================

.filter {
  //.filter__item
  &__item {
    margin-bottom: 40px;
  }
  // .filter__title
  &__title {
    padding-bottom: 20px;
    @extend %raleway-600;
    font-size: rem(16);
    line-height: math.div(22 , 16);
    text-transform: uppercase;
    color: $black;
  }
  //.filter__show
  &__show {
    margin-top: 15px;
  }

  &__show-btn {
    @extend %mulish-500;
    font-size: rem(14);
    line-height: 120%;
    text-decoration: underline;
    color: #13465B;
  }
  //.filter__actions-btn
  &__actions-btn {
    // width: 100%;
    border-radius: 18px;
    padding: 8px 20px;
    font-size: rem(14);
  }
}

//.filter-price
.filter-price {
  //.filter-price__label
  &__label {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
  }
  //.filter-price__inner
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  //.filter-price__from
  &__from {
    padding: 6px 12px;
    border-radius: 35px;
    background-color: #fff;
    @extend %roboto-500;
    font-size: rem(14);
    line-height: 120%;
  }
  //.filter-price__to
  &__to {
    padding: 6px 12px;
    border-radius: 35px;
    background-color: #fff;
    @extend %roboto-500;
    font-size: rem(14);
    line-height: 120%;
  }
}

.irs--flat .irs-line {
  top: 8px;
  height: 2px;
  background-color: #FFC95E;
  border-radius: 4px;
}

.irs--flat .irs-handle {
  top: 0px;
  width: 16px;
  height: 16px;
  background-color: #FFC95E;
  border-radius: 50%;
  border: 3px solid #FFC95E;
  background-color: #fff;
  @media (max-width: em(1240)){
    width: 26px;
    height: 26px;
    top: -5px;
  }
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-from:before {
  display: none;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  display: none;
}

.irs--flat .irs-bar {
  display: none;
}

.irs--flat .irs-min {
  display: none;
}

.irs--flat .irs-max {
  display: none;
}

.irs-from, .irs-to, .irs-single {
  display: none;

}

.irs--flat {
  height: 16px;
}
//========================================================================================================================================================

//.filter-type
.filter-type {
  // .filter-type__form
  // &__form {
  // }
  // .filter-type__label
  &__label {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .filter-type__box
  // &__box {
  // }
  // .filter-type__input
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-type__checkbox {
      background-image: url(../img/projects/check-on.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .filter-type__checkbox
  &__checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
    border-radius: 2px;
    border: 2px solid #FFC95E;
  }
  // .filter-type__text
  &__text {
    margin-left: 30px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: 120%;
    color: $text;
  }
}

//.filter-bedroom
// .filter-bedroom {
//   // .filter-type__form
//   &__form {
//   }
//   // .filter-type__label
//   &__label {
//     display: flex;
//     align-items: center;
//     &:not(:last-child) {
//       margin-bottom: 15px;
//     }
//   }
//   // .filter-type__box
//   &__box {
//   }
//   // .filter-type__input
//   &__input {
//     @extend %checkbox-hidden;
//     &:checked + .filter-bedroom__checkbox {
//       background-image: url(../img/projects/check-on.svg);
//       background-repeat: no-repeat;
//       background-position: center;
//     }
//   }
//   // .filter-type__checkbox
//   &__checkbox {
//     width: 20px;
//     height: 20px;
//     position: absolute;
//     margin-left: 0px;
//     margin-top: -10px;
//     border-radius: 2px;
//     border: 2px solid #FFC95E;
//   }
//   // .filter-type__text
//   &__text {
//     margin-left: 30px;
//     @extend %mulish-500;
//     font-size: rem(16);
//     line-height: 120%;
//     color: $text;
//   }
// }

//.filter-location
.filter-location {
  // .filter-type__form
  // &__form {
  // }
  // .filter-type__label
  &__label {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .filter-type__box
  // &__box {
  // }
  // .filter-type__input
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-location__checkbox {
      background-image: url(../img/projects/check-on.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .filter-type__checkbox
  &__checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
    border-radius: 2px;
    border: 2px solid #FFC95E;
  }
  // .filter-type__text
  &__text {
    margin-left: 30px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: 120%;
    color: $text;
  }
}

//.filter-developer
.filter-developer {
  // .filter-type__form
  // &__form {
  // }
  // .filter-type__label
  &__label {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  // .filter-type__box
  // &__box {
  // }
  // .filter-type__input
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-developer__checkbox {
      background-image: url(../img/projects/check-on.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  // .filter-type__checkbox
  &__checkbox {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 0px;
    margin-top: -10px;
    border-radius: 2px;
    border: 2px solid #FFC95E;
  }
  // .filter-type__text
  &__text {
    margin-left: 30px;
    @extend %mulish-500;
    font-size: rem(16);
    line-height: 120%;
    color: $text;
  }
}

//========================================================================================================================================================
//.projects-realty
.projects-realty {
    //.realty-items
  .realty-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    @media (max-width: em(1240)){
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: em(1180)){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(570)){
      display: flex;
      flex-direction: column;
    }
    .realty__item {
      max-width: 100%;
    }
  }
}
// .realty -----> check the file blocks/realty
//========================================================================================================================================================
