//====================================================================================================
.footer {
  
  // .footer__container
  &__container {
    padding-top: 15px;
    @media (max-width: em(480)){
      padding-top: 30px;
    }
    @media (max-width: em(420)){
      padding-top: 10px;
    }
  }
  //.footer__wrapper
  &__wrapper {
    @media (max-width: em(980)){
      display: flex;
      flex-direction: column;
      row-gap: 65px;
    }
    
    @media (max-width: em(480)){
      row-gap: 40px;
    }
  }
  // .footer__inner
  &__inner {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
    @media (max-width: em(1000)){
      padding-bottom: 20px;
    }
    @media (max-width: em(860)){
      padding-bottom: 30px;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      grid-template-rows: 1fr auto;
      row-gap: 20px;
      column-gap: 115px;
    }
    @media (max-width: em(660)){
      padding-bottom: 20px;
      @include adaptiveValue("column-gap", 115, 20, 660, 440, 1);
    }
    @media (max-width: em(420)){
      padding-bottom: 15px;
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
  //.footer__item-logo
  &__item-logo {
    margin-right: 80px;
    @media (max-width: em(980)){
      order: -1;
      align-self: center;
      margin: 0;
    }
  }

  // .footer__item
  &__item {
    display: grid;
    // display: flex;
    // flex-direction: column;
    row-gap: 20px;
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
    &:not(:last-child) {
      margin-right: auto;
    }
    // &:nth-child(1) {
    //   margin-right: 80px;
    // }
    // &:nth-child(2) {
    //   margin-right: 85px;
    // }
    // &:nth-child(3) {
    //   margin-right: 190px;
    // }
  
  }
  // .footer__logo
  &__logo {
    img {
      width: 122px;
      height: 150px;
      @media (max-width: em(520)){
        width: 98px;
        height: 120px;
      }
    }
  }
  // .footer__wrapper-item
  &__wrapper-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  // .footer__item-heading
  &__item-heading {
    @extend %raleway-600;
    text-transform: uppercase;
    font-size: rem(20);
    line-height: math.div(28 , 20);
    color: $black;
    @media (max-width: em(600)){
      font-size: rem(18);
      line-height: math.div(26 , 18);
      white-space: nowrap;
    }
  }
  // .footer__item-contacts
  &__item-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    @media (max-width: em(600)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .footer__item-phone
  &__item-phone {
  }
  // .footer__item-emeil
  &__item-emeil {
  }
  // .footer__item-adress
  &__item-adress {
    address {
      font-style: normal;
    }
    @media (max-width: em(600)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .footer__item-shedule
  &__item-shedule {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
    @media (max-width: em(600)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
  }
  // .footer__copyright
  &__copyright {
    padding: 30px 0;
    border-top: 1px solid #E3E9F3;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: em(1000)){
      padding: 20px 0;
    }
    @media (max-width: em(660)){
      border-top: none;
      padding: 20px 0 40px 20px;
    }
    @media (max-width: em(420)){
      padding: 15px 0 30px 0;
    }
  }
  // .footer__copyright-text
  &__copyright-text {
    @extend %mulish-500;
    font-size: rem(18);
    line-height: math.div(29 , 18);
    color: $text;
    @media (max-width: em(1000)){
      font-size: rem(14);
      line-height: math.div(22 , 14);
    }
    @media (max-width: em(600)){
      font-size: rem(12);
      line-height: math.div(20 , 12);
    }
  }
}

.footer-menu {
  // .footer-menu__list
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  // .footer-menu__list-item
  &__list-item {
  }
  // .footer-menu__link
  &__link {
  }
}

.footer-menu {
  // .footer-menu__box
  &__box {
  }
  // .footer-menu__social
  &__social {
    
  }
  // .footer-menu__social-list 
  &__social-list {
    display: flex;
    column-gap: 20px;
  }
  // .footer-menu__social-list-item 
  &__social-item {

  }

  // .footer-menu__social-link
  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 40px;
      height: 40px;
      @media (max-width: em(520)){
        width: 30px;
        height: 30px;
      }
    }
  }
}

.footer-item {
  @media (max-width: em(860)){
    //.footer-item__social
    &__social {
      grid-column: 2 / 3;
      @media (max-width: em(420)){
        grid-column: auto;
      }
    }
    //.footer-item__time
    &__time {
      display: grid;
      grid-row: 2;
      grid-column: 1 / 2;
    }
  }
}




//====================================================================================================
